# Imports

In [9]:
import json
import re
import datetime
from collections import OrderedDict

import pandas as pd
import pandas.io.json as pj
from IPython.core.debugger import set_trace

import tbap.api as api
import tbap.server as server

import auth

In [10]:
username = auth.username
key = auth.key
sn = api.Session(username, key)
snj = api.Session(username, key, data_format="json")

### get_alliances()

In [19]:
alliances = api.get_alliances(sn, event="2019pncmp")

In [20]:
alliances

                   backup      status declines level playoff_average  \
name       team
Alliance 1 frc2046  False         won       []     f            None
           frc2910  False         won       []     f            None
           frc2907  False         won       []     f            None
Alliance 2 frc4911  False  eliminated       []    sf            None
           frc2990  False  eliminated       []    sf            None
           frc948     out  eliminated       []    sf            None
           frc4043     in  eliminated       []    sf            None
Alliance 3 frc4488  False  eliminated       []     f            None
           frc2930  False  eliminated       []     f            None
           frc5468  False  eliminated       []     f            None
Alliance 4 frc2898  False  eliminated       []    qf            None
           frc2471  False  eliminated       []    qf            None
           frc1425  False  eliminated       []    qf            None
Alliance 5 frc2147  False  eliminated       []    sf            None
           frc3663  False  eliminated       []    sf            None
           frc4513  False  eliminated       []    sf            None
Alliance 6 frc3674  False  eliminated       []    qf            None
           frc1540  False  eliminated       []    qf            None
           frc6443  False  eliminated       []    qf            None
Alliance 7 frc4469  False  eliminated       []    qf            None
           frc2976  False  eliminated       []    qf            None
           frc2412  False  eliminated       []    qf            None
Alliance 8 frc1318  False  eliminated       []    qf            None
           frc1983  False  eliminated       []    qf            None
           frc2928  False  eliminated       []    qf            None

                    current_level_wins  current_level_losses  \
name       team
Alliance 1 frc2046                   2                     0
           frc2910                   2                     0
           frc2907                   2                     0
Alliance 2 frc4911                   0                     2
           frc2990                   0                     2
           frc948                    0                     2
           frc4043                   0                     2
Alliance 3 frc4488                   0                     2
           frc2930                   0                     2
           frc5468                   0                     2
Alliance 4 frc2898                   1                     2
           frc2471                   1                     2
           frc1425                   1                     2
Alliance 5 frc2147                   0                     2
           frc3663                   0                     2
           frc4513                   0                     2
Alliance 6 frc3674                   0                     2
           frc1540                   0                     2
           frc6443                   0                     2
Alliance 7 frc4469                   0                     2
           frc2976                   0                     2
           frc2412                   0                     2
Alliance 8 frc1318                   0                     2
           frc1983                   0                     2
           frc2928                   0                     2

                    current_level_ties  overall_wins  overall_losses  \
name       team
Alliance 1 frc2046                   0             6               0
           frc2910                   0             6               0
           frc2907                   0             6               0
Alliance 2 frc4911                   0             2               2
           frc2990                   0             2               2
           frc948                    0             2               2
           frc4043                   0             2               2
Alliance 3 frc4488                   0             4               2
           frc2930                   0             4               2
           frc5468                   0             4               2
Alliance 4 frc2898                   0             1               2
           frc2471                   0             1               2
           frc1425                   0             1               2
Alliance 5 frc2147                   0             2               3
           frc3663                   0             2               3
           frc4513                   0             2               3
Alliance 6 frc3674                   0             0               2
           frc1540                   0             0               2
           frc6443                   0             0               2
Alliance 7 frc4469                   0             0               2
           frc2976                   0             0               2
           frc2412                   0             0               2
Alliance 8 frc1318                   0             0               2
           frc1983                   0             0               2
           frc2928                   0             0               2

                    overall_ties
name       team
Alliance 1 frc2046             0
           frc2910             0
           frc2907             0
Alliance 2 frc4911             0
           frc2990             0
           frc948              0
           frc4043             0
Alliance 3 frc4488             0
           frc2930             0
           frc5468             0
Alliance 4 frc2898             0
           frc2471             0
           frc1425             0
Alliance 5 frc2147             0
           frc3663             0
           frc4513             0
Alliance 6 frc3674             0
           frc1540             0
           frc6443             0
Alliance 7 frc4469             0
           frc2976             0
           frc2412             0
Alliance 8 frc1318             0
           frc1983             0
           frc2928             0

In [13]:
alliances.shape

(25, 11)

In [21]:
event = api.get_alliances(sn, event="2019pncmp")

In [22]:
event.head()

                   backup      status declines level playoff_average  \
name       team
Alliance 1 frc2046  False         won       []     f            None
           frc2910  False         won       []     f            None
           frc2907  False         won       []     f            None
Alliance 2 frc4911  False  eliminated       []    sf            None
           frc2990  False  eliminated       []    sf            None

                    current_level_wins  current_level_losses  \
name       team
Alliance 1 frc2046                   2                     0
           frc2910                   2                     0
           frc2907                   2                     0
Alliance 2 frc4911                   0                     2
           frc2990                   0                     2

                    current_level_ties  overall_wins  overall_losses  \
name       team
Alliance 1 frc2046                   0             6               0
           frc2910                   0             6               0
           frc2907                   0             6               0
Alliance 2 frc4911                   0             2               2
           frc2990                   0             2               2

                    overall_ties
name       team
Alliance 1 frc2046             0
           frc2910             0
           frc2907             0
Alliance 2 frc4911             0
           frc2990             0

In [23]:
event = api.get_insights(sn, event="2019pncmp")

In [24]:
event.head()

                                                      value_0  value_1  \
level   statistic
playoff average_cargo_points                             26.7      NaN
        average_cargo_ship_cargo_count                76.6667       80
        average_cargo_ship_cargo_preload_count             20       30
        average_cargo_ship_hatch_panel_count          96.6667  96.6667
        average_cargo_ship_hatch_panel_preload_count       80       70

                                                      value_2    value_3  \
level   statistic
playoff average_cargo_points                              NaN        NaN
        average_cargo_ship_cargo_count                     80  76.666667
        average_cargo_ship_cargo_preload_count             60  70.000000
        average_cargo_ship_hatch_panel_count          86.6667  80.000000
        average_cargo_ship_hatch_panel_preload_count       40  30.000000

                                                        value_4     value_5  \
level   statistic
playoff average_cargo_points                                NaN         NaN
        average_cargo_ship_cargo_count                90.000000   76.666667
        average_cargo_ship_cargo_preload_count        13.333333    0.000000
        average_cargo_ship_hatch_panel_count          96.666667   83.333333
        average_cargo_ship_hatch_panel_preload_count  86.666667  100.000000

                                                        value_6     value_7
level   statistic
playoff average_cargo_points                                NaN         NaN
        average_cargo_ship_cargo_count                76.666667   76.666667
        average_cargo_ship_cargo_preload_count              NaN         NaN
        average_cargo_ship_hatch_panel_count          90.000000  100.000000
        average_cargo_ship_hatch_panel_preload_count        NaN         NaN

In [25]:
event.shape

(54, 8)

In [27]:
oprs = api.get_oprs(sn, event="2019pncmp")

In [28]:
oprs.head()

             ccwms       dprs       oprs
team
frc1318   4.410591  24.824684  29.235275
frc1425  -0.358118  20.230071  19.871953
frc1540   5.018804  27.162205  32.181009
frc1899 -10.403546  25.378573  14.975026
frc1983   7.834151  24.559020  32.393171

In [29]:
oprs.shape

(64, 3)

In [30]:
pred = api.get_predictions(sn, event="2019pncmp")

In [31]:
pred["event_stats"]

                                   value
level   statistic
playoff brier_scores_win_loss   0.225090
        err_mean                8.234304
        err_var                39.645370
        wl_accuracy            66.666667
        wl_accuracy_75         70.000000
qual    brier_scores_win_loss   0.185304
        err_mean                9.253685
        err_var                54.102374
        wl_accuracy            67.968750
        wl_accuracy_75         87.755102

In [32]:
pred["event_stats"].shape

(10, 1)

In [33]:
pred["predictions"]

                                                                value
level   match          alliance statistic
playoff 2019pncmp_f1m1 red      hab_climb_points              21.4641
                                hab_climb_points_var          41.5894
                                prob_complete_rocket         0.587151
                                prob_hab_docking             0.841912
                                rocket_pieces_scored          12.5596
                                rocket_pieces_scored_var      6.45601
                                score                         98.8821
                                score_var                     218.583
                       blue     hab_climb_points              20.2918
                                hab_climb_points_var          26.0174
                                prob_complete_rocket      0.000615073
                                prob_hab_docking             0.850238
                                rocket_pieces_scored          5.61971
                                rocket_pieces_scored_var      3.89757
                                score                         79.1823
                                score_var                      94.582
                       NaN      prob                         0.867191
                                winning_alliance                  red
        2019pncmp_f1m2 red      hab_climb_points              22.0108
                                hab_climb_points_var          40.5501
                                prob_complete_rocket         0.515514
                                prob_hab_docking             0.864543
                                rocket_pieces_scored          12.1092
                                rocket_pieces_scored_var      7.88704
                                score                         98.1058
                                score_var                     216.946
                       blue     hab_climb_points              20.3711
                                hab_climb_points_var          25.9256
                                prob_complete_rocket      0.000346159
                                prob_hab_docking             0.854259
...                                                               ...
qual    2019pncmp_qm98 red      score                         69.4047
                                score_var                     144.112
                       blue     hab_climb_points              12.6405
                                hab_climb_points_var          83.7967
                                prob_complete_rocket         0.316094
                                prob_hab_docking             0.398299
                                rocket_pieces_scored           9.7741
                                rocket_pieces_scored_var       21.626
                                score                         78.2781
                                score_var                     675.791
                       NaN      prob                         0.621679
                                winning_alliance                 blue
        2019pncmp_qm99 red      hab_climb_points              17.4434
                                hab_climb_points_var          68.7857
                                prob_complete_rocket        0.0174981
                                prob_hab_docking             0.615854
                                rocket_pieces_scored          3.85578
                                rocket_pieces_scored_var      14.9208
                                score                         65.8227
                                score_var                     202.546
                       blue     hab_climb_points              18.9872
                                hab_climb_points_var          35.9904
                                prob_complete_rocket         0.095331
                                prob_hab_docking             0.746856
                                rocket_pieces_scored          7.98607
                                rocket_pieces_scored_var      9.40829
                                score                          82.135
                                score_var                     66.1082
                       NaN      prob                         0.840185
                                winning_alliance                 blue

[2574 rows x 1 columns]

In [34]:
pred["predictions"].shape

(2574, 1)

In [35]:
pred["team_rankings"].head()

         points  rank
team
frc2046    36.0   1.0
frc4911    35.0   2.0
frc4488    35.0   3.0
frc2910    33.0   4.0
frc2990    33.0   5.0

In [36]:
pred["team_rankings"].shape

(64, 2)

In [37]:
pred["team_stats"].loc["frc2907"]

                                        value
statistic            point level
hab_climb_points     mean  playoff   6.510365
                     var   playoff   4.733678
rocket_pieces_scored mean  playoff   1.215497
                     var   playoff   1.373649
score                mean  playoff  22.482868
                     var   playoff  54.702066
hab_climb_points     mean  qual      4.901792
                     var   qual      1.371996
rocket_pieces_scored mean  qual      1.627495
                     var   qual      0.264149
score                mean  qual     22.525635
                     var   qual     36.015496

In [38]:
pred["team_stats"].shape

(768, 1)

In [39]:
ranks = api.get_event_rankings(sn, event="2017pncmp")

In [40]:
ranks.query("team=='frc1318'")

,team,matches_played,Total Ranking Points,Ranking Score,Match Points,Auto,Rotor,Touchpad,Pressure,wins,losses,ties,dq,qual_average
rank,,,,,,,,,,,,,,
60,frc1318,12,9,0.75,3119.0,739.0,1620.0,1150.0,129.0,4,8,0,0,None

### get_district_points()

In [43]:
points = api.get_district_points(sn, event="2019pncmp")

In [44]:
points["points"].head()

         alliance_points  award_points  elim_points  qual_points  total
frc1318               27             0            0           54     81
frc1425               12             0            0           36     48
frc1540               33             0            0           36     69
frc1899                0             0            0           18     18
frc1983               27             0            0           48     75

In [45]:
points["points"].shape

(67, 5)

In [46]:
points["high_scores"]

         highest_qual_score  qual_wins  score_rank
team
frc1318                  90          0           1
frc1318                  89          0           2
frc1318                  86          0           3
frc1425                  86          0           1
frc1425                  84          0           2
frc1425                  83          0           3
frc1540                 124          0           1
frc1540                  84          0           2
frc1540                  82          0           3
frc1899                  72          0           1
frc1899                  71          0           2
frc1899                  67          0           3
frc1983                  95          0           1
frc1983                  86          0           2
frc1983                  84          0           3
frc2046                 108          0           1
frc2046                  99          0           2
frc2046                  94          0           3
frc2097                  92          0           1
frc2097                  87          0           2
frc2097                  86          0           3
frc2147                  89          0           1
frc2147                  88          0           2
frc2147                  82          0           3
frc2412                  88          0           1
frc2412                  85          0           2
frc2412                  81          0           3
frc2471                  95          0           1
frc2471                  92          0           2
frc2471                  86          0           3
...                     ...        ...         ...
frc5803                  96          0           1
frc5803                  96          0           2
frc5803                  92          0           3
frc5827                 106          0           1
frc5827                  93          0           2
frc5827                  91          0           3
frc5937                  85          0           1
frc5937                  80          0           2
frc5937                  74          0           3
frc6443                  94          0           1
frc6443                  90          0           2
frc6443                  86          0           3
frc6445                  81          0           1
frc6445                  78          0           2
frc6445                  77          0           3
frc6845                  92          0           1
frc6845                  81          0           2
frc6845                  77          0           3
frc7034                  76          0           1
frc7034                  75          0           2
frc7034                  70          0           3
frc7776                  80          0           1
frc7776                  77          0           2
frc7776                  74          0           3
frc948                   98          0           1
frc948                   82          0           2
frc948                   77          0           3
frc997                   92          0           1
frc997                   83          0           2
frc997                   83          0           3

[192 rows x 3 columns]

In [47]:
points["high_scores"].loc["frc2046"].iat[0, 0]

108

In [48]:
points["high_scores"].shape

(192, 3)

In [49]:
points

{'points':          alliance_points  award_points  elim_points  qual_points  total
 frc1318               27             0            0           54     81
 frc1425               12             0            0           36     48
 frc1540               33             0            0           36     69
 frc1899                0             0            0           18     18
 frc1983               27             0            0           48     75
 frc2046               48            15           90           66    219
 frc2097                0             0            0           45     45
 frc2147               36             0           30           57    123
 frc2412               21            15            0           24     60
 frc2471               39            15            0           36     90
 frc2521                0             0            0           45     45
 frc2522                0             0            0           24     24
 frc2557                0            30            0           30     60
 frc2733                0             0            0           42     42
 frc2898               39             0            0           57     96
 frc2907                3             0           90           36    129
 frc2910               48            15           90           60    213
 frc2915                0             0            0           48     48
 frc2928               24             0            0           48     72
 frc2930               42            15           60           48    165
 frc2976               30             0            0           45     75
 frc2980                0             0            0            9      9
 frc2990               45             0           30           60    135
 frc3024                0            30            0           21     51
 frc3223                0            15            0           39     54
 frc3574                0             0            0           24     24
 frc3588                0             0            0           30     30
 frc360                 0             0            0           42     42
 frc3636                0             0            0           33     33
 frc3663               36             0           30           51    117
 ...                  ...           ...          ...          ...    ...
 frc4061                0            15            0           27     42
 frc4110                0             0            0           15     15
 frc4125                0            30            0           39     69
 frc4131                0             0            0           45     45
 frc4309                0            15            0           39     54
 frc4469               30            15            0           54     99
 frc4488               42            15           60           63    180
 frc4512                0             0            0           15     15
 frc4513               15             0           30           33     78
 frc4579                0             0            0           51     51
 frc4692                0             0            0           12     12
 frc4911               45             0           30           66    141
 frc492                 0             0            0           33     33
 frc4980                0             0            0           42     42
 frc5085                0             0            0           42     42
 frc5468                9             0           60           18     87
 frc5588                0            15            0           36     51
 frc568                 0            24            0            0     24
 frc5803                0             0            0           36     36
 frc5827                0             0            0           51     51
 frc5937                0             0            0           27     27
 frc6443               18            15            0           33     66
 frc6445                0             0            0           21     21
 frc6831                0            24            0            0     24
 frc6845                0             0            0           27     27
 frc7034                0             0            0           21     21
 frc7461                0            24            0            0     24
 frc7776                0            15            0           30     45
 frc948                 6             0           30           27     63
 frc997                 0             0            0           45     45

 [67 rows x 5 columns],
 'high_scores':          highest_qual_score  qual_wins  score_rank
 team
 frc1318                  90          0           1
 frc1318                  89          0           2
 frc1318                  86          0           3
 frc1425                  86          0           1
 frc1425                  84          0           2
 frc1425                  83          0           3
 frc1540                 124          0           1
 frc1540                  84          0           2
 frc1540                  82          0           3
 frc1899                  72          0           1
 frc1899                  71          0           2
 frc1899                  67          0           3
 frc1983                  95          0           1
 frc1983                  86          0           2
 frc1983                  84          0           3
 frc2046                 108          0           1
 frc2046                  99          0           2
 frc2046                  94          0           3
 frc2097                  92          0           1
 frc2097                  87          0           2
 frc2097                  86          0           3
 frc2147                  89          0           1
 frc2147                  88          0           2
 frc2147                  82          0           3
 frc2412                  88          0           1
 frc2412                  85          0           2
 frc2412                  81          0           3
 frc2471                  95          0           1
 frc2471                  92          0           2
 frc2471                  86          0           3
 ...                     ...        ...         ...
 frc5803                  96          0           1
 frc5803                  96          0           2
 frc5803                  92          0           3
 frc5827                 106          0           1
 frc5827                  93          0           2
 frc5827                  91          0           3
 frc5937                  85          0           1
 frc5937                  80          0           2
 frc5937                  74          0           3
 frc6443                  94          0           1
 frc6443                  90          0           2
 frc6443                  86          0           3
 frc6445                  81          0           1
 frc6445                  78          0           2
 frc6445                  77          0           3
 frc6845                  92          0           1
 frc6845                  81          0           2
 frc6845                  77          0           3
 frc7034                  76          0           1
 frc7034                  75          0           2
 frc7034                  70          0           3
 frc7776                  80          0           1
 frc7776                  77          0           2
 frc7776                  74          0           3
 frc948                   98          0           1
 frc948                   82          0           2
 frc948                   77          0           3
 frc997                   92          0           1
 frc997                   83          0           2
 frc997                   83          0           3

 [192 rows x 3 columns]}