# Imports

In [1]:
import json
import re
import datetime
from collections import OrderedDict

import pandas as pd
import pandas.io.json as pj
from IPython.core.debugger import set_trace

import tbap.api as api
import tbap.server as server

In [2]:
username = "stacy.k.irwin@gmail.com"
key = "6Sx6a2gOyNWwNNTAd9UYBOpWp7MxaNrZgO4CqConwJwwDooKQV3DbZXvnk8TBL7A"
sn = api.Session(username, key)
snj = api.Session(username, key, data_format="json")

### get_districts()

In [3]:
districts = api.get_districts(sn, year=2017)

In [4]:
districts

  abbreviation       display_name      key  year
0          chs         Chesapeake  2017chs  2017
1          fim           Michigan  2017fim  2017
2           in            Indiana   2017in  2017
3          isr             Israel  2017isr  2017
4          mar       Mid-Atlantic  2017mar  2017
5           nc     North Carolina   2017nc  2017
6           ne        New England   2017ne  2017
7          ont            Ontario  2017ont  2017
8          pch          Peachtree  2017pch  2017
9          pnw  Pacific Northwest  2017pnw  2017

In [5]:
districts = api.get_districts(sn, team="frc1318")

In [6]:
districts

  abbreviation       display_name      key  year
0          pnw  Pacific Northwest  2014pnw  2014
1          pnw  Pacific Northwest  2015pnw  2015
2          pnw  Pacific Northwest  2016pnw  2016
3          pnw  Pacific Northwest  2017pnw  2017
4          pnw  Pacific Northwest  2018pnw  2018

In [7]:
lm = districts.attr["Last-Modified"]

In [14]:
districts = api.get_districts(sn, team="frc1318", mod_since=lm)

In [15]:
districts

                                                                         value
label
code                                                                       304
Date                                             Mon, 13 Nov 2017 14:34:01 GMT
Connection                                                               close
Set-Cookie                   __cfduid=dd0e0f98d4fb0aecb9c1eacbae70b0b7a1510...
Access-Control-Allow-Origin                                                  *
Cache-Control                                               public, max-age=61
Pragma                                                                  Public
ETag                                      W/"f13331c9f7795df8263a2a41af610658"
Last-Modified                                    Sun, 12 Nov 2017 14:14:56 GMT
X-TBA-Version                                                                3
Vary                                                           Accept-Encoding
X-Cloud-Trace-Context                         462b55b74656795b66e019260a64199d
CF-Cache-Status                                                            HIT
Server                                                        cloudflare-nginx
CF-RAY                                                    3bd273110fa41bc1-SEA
args_0                                                                    team
args_1                                                                 frc1318
args_2                                                               districts
If-Modified-Since                                Sun, 12 Nov 2017 14:14:56 GMT

In [16]:
districts.attr

{'Access-Control-Allow-Origin': '*',
 'CF-Cache-Status': 'HIT',
 'CF-RAY': '3bd273110fa41bc1-SEA',
 'Cache-Control': 'public, max-age=61',
 'Connection': 'close',
 'Date': 'Mon, 13 Nov 2017 14:34:01 GMT',
 'ETag': 'W/"f13331c9f7795df8263a2a41af610658"',
 'If-Modified-Since': 'Sun, 12 Nov 2017 14:14:56 GMT',
 'Last-Modified': 'Sun, 12 Nov 2017 14:14:56 GMT',
 'Pragma': 'Public',
 'Server': 'cloudflare-nginx',
 'Set-Cookie': '__cfduid=dd0e0f98d4fb0aecb9c1eacbae70b0b7a1510583641; expires=Tue, 13-Nov-18 14:34:01 GMT; path=/; domain=.thebluealliance.com; HttpOnly',
 'Vary': 'Accept-Encoding',
 'X-Cloud-Trace-Context': '462b55b74656795b66e019260a64199d',
 'X-TBA-Version': '3',
 'args': ['team', 'frc1318', 'districts'],
 'code': 304}

In [10]:
lm

'Sun, 12 Nov 2017 14:14:56 GMT'

In [11]:
lm1 = "Sun, 12 Nov 2017 14:14:55 GMT"

In [12]:
districts = api.get_districts(sn, team="frc1318", mod_since=lm1)

In [13]:
districts

  abbreviation       display_name      key  year
0          pnw  Pacific Northwest  2014pnw  2014
1          pnw  Pacific Northwest  2015pnw  2015
2          pnw  Pacific Northwest  2016pnw  2016
3          pnw  Pacific Northwest  2017pnw  2017
4          pnw  Pacific Northwest  2018pnw  2018