# Imports

In [ ]:
import json
import re
import datetime
from collections import OrderedDict

import pandas as pd
import pandas.io.json as pj
from IPython.core.debugger import set_trace

import tbap.api as api
import tbap.server as server

In [ ]:
key = "6Sx6a2gOyNWwNNTAd9UYBOpWp7MxaNrZgO4CqConwJwwDooKQV3DbZXvnk8TBL7A"
sn = api.Session(key)
snj = api.Session(key, data_format="json")

### get_districts()

In [6]:
districts = api.get_districts(sn, year=2017)

In [7]:
districts

  abbreviation       display_name      key  year
0          chs         Chesapeake  2017chs  2017
1          fim           Michigan  2017fim  2017
2           in            Indiana   2017in  2017
3          isr             Israel  2017isr  2017
4          mar       Mid-Atlantic  2017mar  2017
5           nc     North Carolina   2017nc  2017
6           ne        New England   2017ne  2017
7          ont            Ontario  2017ont  2017
8          pch          Peachtree  2017pch  2017
9          pnw  Pacific Northwest  2017pnw  2017

In [8]:
districts = api.get_districts(sn, team="frc1318")

In [9]:
districts

  abbreviation       display_name      key  year
0          pnw  Pacific Northwest  2014pnw  2014
1          pnw  Pacific Northwest  2015pnw  2015
2          pnw  Pacific Northwest  2016pnw  2016
3          pnw  Pacific Northwest  2017pnw  2017
4          pnw  Pacific Northwest  2018pnw  2018