## Setup

In [2]:
import json
import re
import datetime
from collections import OrderedDict

import pandas as pd
import pandas.io.json as pj
from IPython.core.debugger import set_trace

import tbap.api as api
import tbap.server as server

In [3]:
key = "6Sx6a2gOyNWwNNTAd9UYBOpWp7MxaNrZgO4CqConwJwwDooKQV3DbZXvnk8TBL7A"
username = "stacy.k.irwin@gmail.com"
sn = api.Session(username, key)
snj = api.Session(username, key, data_format="json")

# Display floating point numbers in fixed format within dataframes.
pd.options.display.float_format = '{:f}'.format

### get_matches()

In [3]:
sn.time_zone = "America/Chicago"
matches = api.get_matches(sn, "2017tur")

In [4]:
matches.head()

,team_key,alliance,surrogate,score,disqualified,actual_time,comp_level,event_key,key,match_number,...,teleopFuelHigh,teleopFuelLow,teleopFuelPoints,teleopPoints,teleopRotorPoints,teleopTakeoffPoints,totalPoints,touchpadFar,touchpadMiddle,touchpadNear
0,frc2046,blue,False,503,False,2017-04-22 12:18:21-05:00,f,2017tur,2017tur_f1m1,1,...,63,0,21,391,120,150,503,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
1,frc1318,blue,False,503,False,2017-04-22 12:18:21-05:00,f,2017tur,2017tur_f1m1,1,...,63,0,21,391,120,150,503,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
2,frc1595,blue,False,503,False,2017-04-22 12:18:21-05:00,f,2017tur,2017tur_f1m1,1,...,63,0,21,391,120,150,503,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
3,frc1296,red,False,271,False,2017-04-22 12:18:21-05:00,f,2017tur,2017tur_f1m1,1,...,17,0,5,185,80,100,271,ReadyForTakeoff,ReadyForTakeoff,None
4,frc2473,red,False,271,False,2017-04-22 12:18:21-05:00,f,2017tur,2017tur_f1m1,1,...,17,0,5,185,80,100,271,ReadyForTakeoff,ReadyForTakeoff,None

In [5]:
matches.shape

(770, 49)

In [6]:
matches = api.get_matches(sn, "2017tur", response="simple")

In [7]:
matches.time[0].utcoffset().seconds

68400

In [8]:
matches.shape

(770, 14)

In [9]:
matches = api.get_matches(sn, "2017tur", response="keys")

In [10]:
matches.head()

             key
0   2017tur_f1m1
1   2017tur_f1m2
2  2017tur_qf1m1
3  2017tur_qf1m2
4  2017tur_qf2m1

In [11]:
matches = api.get_matches(sn, "2017tur", "frc1318")

In [12]:
matches.head()

,team_key,alliance,surrogate,score,disqualified,actual_time,comp_level,event_key,key,match_number,...,teleopFuelHigh,teleopFuelLow,teleopFuelPoints,teleopPoints,teleopRotorPoints,teleopTakeoffPoints,totalPoints,touchpadFar,touchpadMiddle,touchpadNear
0,frc2046,blue,False,503,False,2017-04-22 12:18:21-05:00,f,2017tur,2017tur_f1m1,1,...,63,0,21,391,120,150,503,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
1,frc1318,blue,False,503,False,2017-04-22 12:18:21-05:00,f,2017tur,2017tur_f1m1,1,...,63,0,21,391,120,150,503,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
2,frc1595,blue,False,503,False,2017-04-22 12:18:21-05:00,f,2017tur,2017tur_f1m1,1,...,63,0,21,391,120,150,503,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
3,frc1296,red,False,271,False,2017-04-22 12:18:21-05:00,f,2017tur,2017tur_f1m1,1,...,17,0,5,185,80,100,271,ReadyForTakeoff,ReadyForTakeoff,None
4,frc2473,red,False,271,False,2017-04-22 12:18:21-05:00,f,2017tur,2017tur_f1m1,1,...,17,0,5,185,80,100,271,ReadyForTakeoff,ReadyForTakeoff,None

In [13]:
matches = api.get_matches(sn, "2017tur", "frc1318", response="simple")

In [14]:
matches[50:55]

,team_key,alliance,surrogate,score,disqualified,actual_time,comp_level,event_key,key,match_number,predicted_time,set_number,time,winning_alliance
50,frc4135,blue,False,319,False,2017-04-20 16:24:27-05:00,qm,2017tur,2017tur_qm43,43,2017-04-20 16:24:01-05:00,1,2017-04-20 16:08:00-05:00,blue
51,frc1318,red,False,277,False,2017-04-20 16:24:27-05:00,qm,2017tur,2017tur_qm43,43,2017-04-20 16:24:01-05:00,1,2017-04-20 16:08:00-05:00,blue
52,frc1523,red,False,277,False,2017-04-20 16:24:27-05:00,qm,2017tur,2017tur_qm43,43,2017-04-20 16:24:01-05:00,1,2017-04-20 16:08:00-05:00,blue
53,frc4206,red,False,277,False,2017-04-20 16:24:27-05:00,qm,2017tur,2017tur_qm43,43,2017-04-20 16:24:01-05:00,1,2017-04-20 16:08:00-05:00,blue
54,frc1318,blue,False,253,False,2017-04-21 08:22:40-05:00,qm,2017tur,2017tur_qm52,52,2017-04-21 08:22:19-05:00,1,2017-04-21 08:24:00-05:00,blue

In [15]:
matches.shape

(102, 14)

In [16]:
matches = api.get_matches(sn, "2017tur", "frc1318", response="keys")

In [17]:
matches.head()

             key
0   2017tur_f1m1
1   2017tur_f1m2
2  2017tur_qf4m1
3  2017tur_qf4m2
4  2017tur_qm100

In [18]:
matches = api.get_matches(sn, team="frc1318", year=2017)

In [19]:
matches.query("score == -1")

,team_key,alliance,surrogate,score,disqualified,actual_time,comp_level,event_key,key,match_number,...,teleopFuelHigh,teleopFuelLow,teleopFuelPoints,teleopPoints,teleopRotorPoints,teleopTakeoffPoints,totalPoints,touchpadFar,touchpadMiddle,touchpadNear
426,frc360,blue,False,-1,False,NaT,qf,2017wagg,2017wagg_qf2m2,2,...,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN
427,frc3218,blue,False,-1,False,NaT,qf,2017wagg,2017wagg_qf2m2,2,...,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN
428,frc5588,blue,False,-1,False,NaT,qf,2017wagg,2017wagg_qf2m2,2,...,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN
429,frc2412,red,False,-1,False,NaT,qf,2017wagg,2017wagg_qf2m2,2,...,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN
430,frc948,red,False,-1,False,NaT,qf,2017wagg,2017wagg_qf2m2,2,...,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN
431,frc1318,red,False,-1,False,NaT,qf,2017wagg,2017wagg_qf2m2,2,...,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN

In [20]:
matches.tail(6)

,team_key,alliance,surrogate,score,disqualified,actual_time,comp_level,event_key,key,match_number,...,teleopFuelHigh,teleopFuelLow,teleopFuelPoints,teleopPoints,teleopRotorPoints,teleopTakeoffPoints,totalPoints,touchpadFar,touchpadMiddle,touchpadNear
636,frc1318,blue,False,305,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,0.000000,0.000000,0.000000,230.000000,80.000000,150.000000,305.000000,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
637,frc4077,blue,False,305,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,0.000000,0.000000,0.000000,230.000000,80.000000,150.000000,305.000000,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
638,frc2976,blue,False,305,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,0.000000,0.000000,0.000000,230.000000,80.000000,150.000000,305.000000,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
639,frc3070,red,False,259,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,14.000000,0.000000,4.000000,184.000000,80.000000,100.000000,259.000000,None,ReadyForTakeoff,ReadyForTakeoff
640,frc4911,red,False,259,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,14.000000,0.000000,4.000000,184.000000,80.000000,100.000000,259.000000,None,ReadyForTakeoff,ReadyForTakeoff
641,frc949,red,False,259,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,14.000000,0.000000,4.000000,184.000000,80.000000,100.000000,259.000000,None,ReadyForTakeoff,ReadyForTakeoff

In [21]:
matches.shape

(642, 49)

In [22]:
matches = api.get_matches(sn, team="frc1318", year=2017, response="simple")

In [23]:
matches.head()

,team_key,alliance,surrogate,score,disqualified,actual_time,comp_level,event_key,key,match_number,predicted_time,set_number,time,winning_alliance
0,frc2046,blue,False,374,False,2017-04-22 16:42:55-05:00,sf,2017cmptx,2017cmptx_sf1m1,1,2017-04-22 16:46:01-05:00,1,2017-04-22 16:00:00-05:00,red
1,frc1318,blue,False,374,False,2017-04-22 16:42:55-05:00,sf,2017cmptx,2017cmptx_sf1m1,1,2017-04-22 16:46:01-05:00,1,2017-04-22 16:00:00-05:00,red
2,frc1595,blue,False,374,False,2017-04-22 16:42:55-05:00,sf,2017cmptx,2017cmptx_sf1m1,1,2017-04-22 16:46:01-05:00,1,2017-04-22 16:00:00-05:00,red
3,frc987,red,False,493,False,2017-04-22 16:42:55-05:00,sf,2017cmptx,2017cmptx_sf1m1,1,2017-04-22 16:46:01-05:00,1,2017-04-22 16:00:00-05:00,red
4,frc2122,red,False,493,False,2017-04-22 16:42:55-05:00,sf,2017cmptx,2017cmptx_sf1m1,1,2017-04-22 16:46:01-05:00,1,2017-04-22 16:00:00-05:00,red

In [24]:
matches = api.get_matches(sn, team="frc1318", year=2017, response="keys")

In [25]:
matches.head()

                key
0   2017cmptx_sf1m1
1  2017cmptx_sf1m12
2  2017cmptx_sf1m14
3   2017cmptx_sf1m5
4   2017cmptx_sf1m9

In [26]:
matches = api.get_matches(sn, match="2017wasno_qm79")

In [27]:
matches

,team_key,alliance,surrogate,score,disqualified,actual_time,comp_level,event_key,key,match_number,...,teleopFuelHigh,teleopFuelLow,teleopFuelPoints,teleopPoints,teleopRotorPoints,teleopTakeoffPoints,totalPoints,touchpadFar,touchpadMiddle,touchpadNear
0,frc1318,blue,False,305,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,0,0,0,230,80,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
1,frc4077,blue,False,305,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,0,0,0,230,80,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
2,frc2976,blue,False,305,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,0,0,0,230,80,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
3,frc3070,red,False,259,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,14,0,4,184,80,100,259,None,ReadyForTakeoff,ReadyForTakeoff
4,frc4911,red,False,259,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,14,0,4,184,80,100,259,None,ReadyForTakeoff,ReadyForTakeoff
5,frc949,red,False,259,False,2017-03-26 13:24:20-05:00,qm,2017wasno,2017wasno_qm79,79,...,14,0,4,184,80,100,259,None,ReadyForTakeoff,ReadyForTakeoff

In [28]:
matches.shape

(6, 49)

In [4]:
sn.time_zone = "America/Los_Angeles"
matches = api.get_matches(sn, match="2017wasno_qm79", response="simple")

In [5]:
matches

,team_key,alliance,surrogate,score,disqualified,actual_time,comp_level,event_key,key,match_number,predicted_time,set_number,time,winning_alliance
0,frc1318,blue,False,305,False,2017-03-26 11:24:20-07:00,qm,2017wasno,2017wasno_qm79,79,2017-03-26 11:25:03-07:00,1,2017-03-26 11:26:00-07:00,blue
1,frc4077,blue,False,305,False,2017-03-26 11:24:20-07:00,qm,2017wasno,2017wasno_qm79,79,2017-03-26 11:25:03-07:00,1,2017-03-26 11:26:00-07:00,blue
2,frc2976,blue,False,305,False,2017-03-26 11:24:20-07:00,qm,2017wasno,2017wasno_qm79,79,2017-03-26 11:25:03-07:00,1,2017-03-26 11:26:00-07:00,blue
3,frc3070,red,False,259,False,2017-03-26 11:24:20-07:00,qm,2017wasno,2017wasno_qm79,79,2017-03-26 11:25:03-07:00,1,2017-03-26 11:26:00-07:00,blue
4,frc4911,red,False,259,False,2017-03-26 11:24:20-07:00,qm,2017wasno,2017wasno_qm79,79,2017-03-26 11:25:03-07:00,1,2017-03-26 11:26:00-07:00,blue
5,frc949,red,False,259,False,2017-03-26 11:24:20-07:00,qm,2017wasno,2017wasno_qm79,79,2017-03-26 11:25:03-07:00,1,2017-03-26 11:26:00-07:00,blue

In [6]:
matches.actual_time[0].utcoffset()

datetime.timedelta(-1, 61200)