# Imports

In [1]:
import json
import re
import datetime
from collections import OrderedDict

import pandas as pd
import pandas.io.json as pj
from IPython.core.debugger import set_trace

import tbap.api as api
import tbap.server as server

### Create Session

In [2]:
key = "6Sx6a2gOyNWwNNTAd9UYBOpWp7MxaNrZgO4CqConwJwwDooKQV3DbZXvnk8TBL7A"
username = "stacy.k.irwin@gmail.com"
sn = api.Session(username, key)
snj = api.Session(username, key, data_format="json")

# Display floating point numbers in fixed format within dataframes.
pd.options.display.float_format = '{:f}'.format

# Examples

## get_teams()

In [3]:
result = api.get_teams(sn, 1)

In [6]:
result

,address,city,country,gmaps_place_id,gmaps_url,home_championship.2017,home_championship.2018,key,lat,lng,location_name,motto,name,nickname,postal_code,rookie_year,state_prov,team_number,website
0,None,New London,USA,None,None,St. Louis,Detroit,frc500,None,None,None,None,"U.S. Coast Guard Academy, USCG Foundation, USC...",Team 500/Team USA,None,2001.000000,CT,500,http://www.cgateam500.org
1,None,Manchester,USA,None,None,St. Louis,Detroit,frc501,None,None,None,"Meeting the challenge, exceeding the standard.",BURNDY / Dyn / UL / 4-H & Manchester West High...,The PowerKnights,03102,2001.000000,New Hampshire,501,http://www.powerknights.com
2,None,Rockville Centre,USA,None,None,St. Louis,Detroit,frc502,None,None,None,None,Team 502,Team 502,None,nan,NY,502,None
3,None,Novi,USA,None,None,St. Louis,Detroit,frc503,None,None,None,A Leap Ahead,Magna Seating Systems (Primary Sponsor)/Denso/...,Frog Force,48375,2001.000000,Michigan,503,http://www.frogforce503.org
4,None,Little Silver,USA,None,None,St. Louis,Detroit,frc504,None,None,None,None,Team 504,Team 504,None,nan,NJ,504,None
5,None,Yonkers,USA,None,None,St. Louis,Detroit,frc505,None,None,None,None,Con Edison/Westchester Community College & Sau...,Team 505,None,2001.000000,NY,505,None
6,None,South Huntington,USA,None,None,St. Louis,Detroit,frc506,None,None,None,None,"NASA/Wire to Water Inc./Power Aisle, Inc/Cadin...",BroBots,None,2001.000000,NY,506,http://www.startrobotics.vze.com
7,None,Greenville,USA,None,None,St. Louis,Detroit,frc507,None,None,None,None,Walmart/Electrolock/Computer Dynamics & Caroli...,Solid Orange Academy of Robotics (SOAR),None,2001.000000,SC,507,http://www.carolinaroboteers.com
8,None,Avon,USA,None,None,St. Louis,Detroit,frc508,None,None,None,None,Team 508,Team 508,None,nan,CT,508,None
9,None,Bedford,USA,None,None,St. Louis,Detroit,frc509,None,None,None,Taking the World by STORM,Bedford School District & Bedford High School,Red Storm,03110,2001.000000,New Hampshire,509,http://www.redstorm509.appspot.com/
10,None,Highland Springs,USA,None,None,St. Louis,Detroit,frc510,None,None,None,None,"Qimonda, Richmond / CapTech / Henrico Educatio...",Hawaii Five-10,None,2001.000000,VA,510,None
11,None,Granada Hills,USA,None,None,Houston,Houston,frc511,None,None,None,None,Granada Hills Charter High,The Robodox,None,2001.000000,California,511,http://therobodox.org
12,None,Hull,USA,None,None,St. Louis,Detroit,frc512,None,None,None,None,Team 512,Team 512,None,nan,MA,512,None
13,None,Oklahoma City,USA,None,None,St. Louis,Detroit,frc513,None,None,None,None,OSU-OKC & OKC Public Schools,Renegade Robotics,None,2001.000000,OK,513,http://www.renegaderobotics.com
14,None,Miller Place,USA,None,None,St. Louis,Detroit,frc514,None,None,None,Done is good,Switches and Sensors Inc/Alternative Parts Inc...,Miller Place Robotics,11764,2001.000000,New York,514,https://team514.com/
15,None,Detroit,USA,None,None,St. Louis,Detroit,frc515,None,None,None,None,Gallagher-Kaiser Corporation/Prevention Netwo...,TechnoKnights,None,2001.000000,MI,515,None
16,None,New Providence,USA,None,None,St. Louis,Detroit,frc517,None,None,None,None,Team 517,Team 517,None,nan,NJ,517,None
17,None,Grand Rapids,USA,None,None,St. Louis,Detroit,frc518,None,None,None,None,GRAPCEP Davenport/Gumbo/Steelcase/GE Aviation ...,Blue Steel,None,2001.000000,MI,518,None
18,None,Detroit,USA,None,None,St. Louis,Detroit,frc519,None,None,None,None,General Motors Foundation-GM CCRW/Harvey Indus...,Robo Masters,None,2001.000000,MI,519,http://team519.bravehost.com
19,None,Deer Park,USA,None,None,St. Louis,Detroit,frc520,None,None,None,None,Team 520,Team 520,None,nan,TX,520,None
20,None,Waterford,USA,None,None,St. Louis,Detroit,frc521,None,None,None,None,Dominion Millstone Power Station & Waterford ...,"L33T CREW (""leet crew"")",None,2001.000000,CT,521,http://www.waterfordschools.org/whsnew/robotic...
21,None,Staten Island,USA,None,None,St. Louis,Detroit,frc522,None,None,None,None,New York Container Terminal / Con Edison & RAL...,ROBO WIZARDS,10301,2001.000000,New York,522,http://www.robowizards.com
22,None,Bakersfield,USA,None,None,St. Louis,Detroit,frc524,None,None,None,None,Team 524,Team 524,None,nan,CA,524,None
23,None,Cedar Falls,USA,None,None,St. Louis,Detroit,frc525,None,None,None,Students Working Around Robotic Technology,Cedar Falls Community Schools/John Deere/PTC/R...,Swartdogs,50613,2001.000000,Iowa,525,http://www.525swartdogs.org
24,None,Massapequa,USA,None,None,St. Louis,Detroit,frc527,None,None,None,YEAH WOO WOO YEAH,Plainedge Senior High School,Red Dragons,11758,2001.000000,New York,527,http://www.team527.com/
25,None,Lansdale,USA,None,None,St. Louis,Detroit,frc528,None,None,None,None,Visteon Corp. & North Montco Technical Career ...,The Persuaders,None,2001.000000,PA,528,http://www.northpennrobotics.org
26,None,Mansfield,USA,None,None,St. Louis,Detroit,frc529,None,None,None,None,NASA/Invensys Process Systems,The Mansfield Hornets,None,2001.000000,MA,529,http://www.mansfieldrobotics.org
27,None,Lindenhurst,USA,None,None,St. Louis,Detroit,frc533,None,None,None,A Mind is a Terrible Thing to Lose,Lindenhurst Union Free School District/BAE Sys...,The PSIcotics,11757,2001.000000,New York,533,http://www.team533.com
28,None,Markle,USA,None,None,St. Louis,Detroit,frc535,None,None,None,None,Wabash Technologies & Huntington County Schools,G-Force,None,2001.000000,IN,535,None
29,None,San Francisco,USA,None,None,St. Louis,Detroit,frc536,None,None,None,None,Team 536,Team 536,None,nan,CA,536,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,None,Columbus,USA,None,None,St. Louis,Detroit,frc963,None,None,None,None,NASA/Ohio State University/jcpenney/AEP-Americ...,South Bulldogs Robotics,None,2002.000000,OH,963,http://southbulldogsrobotics.org
349,None,Bedford,USA,None,None,St. Louis,Detroit,frc964,None,None,None,None,Bedford Schools Foundation & Bedford High School,Bearcat Robotics,None,2002.000000,OH,964,http://www.bedfordfoundation.net/Robotics
350,None,Cleveland Heights,USA,None,None,St. Louis,Detroit,frc966,None,None,None,None,Cleveland Heights High School,Heights Tigers,None,2002.000000,OH,966,http://tech.chhs.chuh.org/tech.html
351,None,Marion,USA,None,None,St. Louis,Detroit,frc967,None,None,None,None,Rockwell Collins/Linn-Mar Booster Club/EHA/Iow...,Iron Lions,52302,2002.000000,Iowa,967,http://www.lmrobotics.com
352,None,West Covina,USA,None,None,Houston,Houston,frc968,None,None,None,None,RM Industries/Ride and Show Engineering/Centra...,RAWC (Robotics Alliance Of West Covina),91791,2002.000000,California,968,http://team968.com
353,None,Lebanon,USA,None,None,St. Louis,Detroit,frc969,None,None,None,None,Team 969,Team 969,None,nan,TN,969,None
354,None,East Cleveland,USA,None,None,St. Louis,Detroit,frc970,None,None,None,None,Concept XXI/ECCS/21st Century CLC/Earthman's E...,The Cardinals,None,2002.000000,OH,970,http://www.clevelandtechworks.org
355,None,Mountain View,USA,None,None,Houston,Houston,frc971,None,None,None,"""If you wanna build robots, you've got to brea...",NASA/NASA Ames Research Center/Google/St. Jude...,Spartan Robotics,94040,2002.000000,California,971,http://frc971.org
356,None,Los Gatos,USA,None,None,Houston,Houston,frc972,None,None,None,None,Iron Claw Team Families/Los Gatos High School ...,Iron Claw,95030,2002.000000,California,972,http://www.ironclaw972.org
357,None,Atascadero,USA,None,None,Houston,Houston,frc973,None,None,None,"DESIGN,BUILD,COMPETE",Google/Centers for Applied Competitive Technol...,Greybots,93422,2002.000000,California,973,http://www.greybots.com
358,None,Los Angeles,USA,None,None,St. Louis,Detroit,frc974,None,None,None,"""Can't sink this ship!""",Mr. & Mrs. Stephen Petty/Gerald Oppenheimer Fa...,Nautae,None,2002.000000,CA,974,http://lighthouse.mhs-la.org/cvivo/Robotics/HO...
359,None,Midlothian,USA,None,None,St. Louis,Detroit,frc975,None,None,None,None,Dominion/PEER Tech Prep Consortium/John Tyler ...,Synergy Robotics,None,2002.000000,VA,975,http://couillard.wikispaces.com/SYNERGY
360,None,Nottoway,USA,None,None,St. Louis,Detroit,frc976,None,None,None,None,AB's Welding/Longwood ITTTIP/Virginia Business...,Circuit Breakers,None,2002.000000,VA,976,http://nottowaynt.k12.nottoway.state.va.us/nhs...
361,None,South Boston,USA,None,None,St. Louis,Detroit,frc977,None,None,None,"Knowledge, the final frontier.",Mid-Atlantic Broadband&Halifax County High,Cometbots,24592,2002.000000,Virginia,977,http://www.halifax.k12.va.us/team977
362,None,Dayton,USA,None,None,St. Louis,Detroit,frc979,None,None,None,None,NASA Glenn Research Center/Delphi Automative S...,Team 979,None,2002.000000,OH,979,http://TBA
363,None,Sylmar,USA,None,None,Houston,Houston,frc980,None,None,None,Strive for Excellence!,NASA/Walt Disney Imagineering/NASA-JPL/Boeing/...,ThunderBots,91342,2002.000000,California,980,http://www.team980.com
364,None,Lebec,USA,None,None,Houston,Houston,frc981,None,None,None,When we build a robot it snows!,NASA/NASA JPL/Boston Scientific/International ...,Snobotics,93243,2002.000000,California,981,http://snobotics.org
365,None,Sioux Falls,USA,None,None,St. Louis,Detroit,frc982,None,None,None,None,South Dakota Space Grant Consortium/NASA/Augus...,The Knights,None,2002.000000,SD,982,http://www.sfcss.org/OgormanHS/Departments/rob...
366,None,Wellesley,USA,None,None,St. Louis,Detroit,frc984,None,None,None,None,Team 984,Team 984,None,nan,MA,984,None
367,None,Las Vegas,USA,None,None,Houston,Houston,frc987,None,None,None,"""It's not enough!""",Steve and Susan Philpott/Innovation First Inte...,HIGHROLLERS,89128,2002.000000,Nevada,987,http://www.team987.com
368,None,Las Vegas,USA,None,None,Houston,Houston,frc988,None,None,None,Our team always rises from the ashes,NASA/The Gene Haas Foundation & Ed W Clark Hig...,Steel Phoenix,89102,2002.000000,Nevada,988,http://team988steelphoenix.weebly.com/
369,None,Las Vegas,USA,None,None,St. Louis,Detroit,frc989,None,None,None,None,Palo Verde High School Science &Technology Club,Palo,None,2002.000000,NV,989,http://www.paloverde.org/paulus/robotics
370,None,Las Vegas,USA,None,None,St. Louis,Detroit,frc990,None,None,None,None,Bechtel Nevada/University Nevada Las Vegas & A...,The Deadly Viper Assassination Squad,None,2002.000000,NV,990,http://www.atech.org/faculty/gauthier/robot
371,None,Phoenix,USA,None,None,Houston,Houston,frc991,None,None,None,Together to Create,Brophy College Preparatory,BroncoBotics,85012,2002.000000,Arizona,991,http://www.broncobotics.org/
372,None,North Hollywood,USA,None,None,St. Louis,Detroit,frc992,None,None,None,None,NASA & Oakwood School,Oakwood Robotics,None,2002.000000,CA,992,http://www.oakwoodrobotics.com
373,None,Alhambra,USA,None,None,Houston,Houston,frc995,None,None,None,LET'S DO THIS!,NASA/Beckman Coulter & MARK KEPPEL HIGH,Monkey Wrenchers,None,2002.000000,California,995,http://www.firstinspires.org/
374,None,Casa Grande,USA,None,None,Houston,Houston,frc996,None,None,None,"""Pass the duct tape!""",NASA/Nissan Technical Center North America/Avn...,Mecha Knights,85122,2002.000000,Arizona,996,http://www.firstinspires.org/
375,None,Corvallis,USA,None,None,Houston,Houston,frc997,None,None,None,Incito Futuri,Autodesk/Oregon Depaartment of Education/Tripw...,Spartan Robotics,97330,2002.000000,Oregon,997,http://www.chsrobotics.org
376,None,Soldotna,USA,None,None,St. Louis,Detroit,frc998,None,None,None,None,The Challenger Learning Center of Alaska/Briti...,The Overcookers,None,2002.000000,AK,998,http://www.kpbsd.k12.ak.us/sohi/robotics
377,None,Cheshire,USA,None,None,St. Louis,Detroit,frc999,None,None,None,None,Cheshire Public Schools/UTC/Lockheed Martin&Ch...,MechaRAMS,06410,2002.000000,Connecticut,999,http://FRCTeam999.com

In [5]:
result.shape

(378, 19)

In [5]:
result = api.get_teams(sn, 1, response="simple")

In [6]:
result.head()

,city,country,key,name,nickname,state_prov,team_number
0,New London,USA,frc500,"U.S. Coast Guard Academy, USCG Foundation, USC...",Team 500/Team USA,CT,500
1,Manchester,USA,frc501,BURNDY / Dyn / UL / 4-H & Manchester West High...,The PowerKnights,New Hampshire,501
2,Rockville Centre,USA,frc502,,,NY,502
3,Novi,USA,frc503,Magna Seating Systems (Primary Sponsor)/Denso/...,Frog Force,Michigan,503
4,Little Silver,USA,frc504,,,NJ,504

In [3]:
result = api.get_teams(sn, 1, response="keys")

In [4]:
result.head()

     team
0  frc500
1  frc501
2  frc502
3  frc503
4  frc504

In [9]:
result = api.get_teams(sn, 1, year=2016)

In [10]:
result.head()

,address,city,country,gmaps_place_id,gmaps_url,home_championship.2017,home_championship.2018,key,lat,lng,location_name,motto,name,nickname,postal_code,rookie_year,state_prov,team_number,website
0,None,Manchester,USA,None,None,St. Louis,Detroit,frc501,None,None,None,"Meeting the challenge, exceeding the standard.",BURNDY / Dyn / UL / 4-H & Manchester West High...,The PowerKnights,03102,2001,New Hampshire,501,http://www.powerknights.com
1,None,Novi,USA,None,None,St. Louis,Detroit,frc503,None,None,None,A Leap Ahead,Magna Seating Systems (Primary Sponsor)/Denso/...,Frog Force,48375,2001,Michigan,503,http://www.frogforce503.org
2,None,Bedford,USA,None,None,St. Louis,Detroit,frc509,None,None,None,Taking the World by STORM,Bedford School District & Bedford High School,Red Storm,03110,2001,New Hampshire,509,http://www.redstorm509.appspot.com/
3,None,Miller Place,USA,None,None,St. Louis,Detroit,frc514,None,None,None,Done is good,Switches and Sensors Inc/Alternative Parts Inc...,Miller Place Robotics,11764,2001,New York,514,https://team514.com/
4,None,Cedar Falls,USA,None,None,St. Louis,Detroit,frc525,None,None,None,Students Working Around Robotic Technology,Cedar Falls Community Schools/John Deere/PTC/R...,Swartdogs,50613,2001,Iowa,525,http://www.525swartdogs.org

In [11]:
result = api.get_teams(sn, 1, year=2016, response="simple")

In [12]:
result.head()

,city,country,key,name,nickname,state_prov,team_number
0,Manchester,USA,frc501,BURNDY / Dyn / UL / 4-H & Manchester West High...,The PowerKnights,New Hampshire,501
1,Novi,USA,frc503,Magna Seating Systems (Primary Sponsor)/Denso/...,Frog Force,Michigan,503
2,Bedford,USA,frc509,Bedford School District & Bedford High School,Red Storm,New Hampshire,509
3,Miller Place,USA,frc514,Switches and Sensors Inc/Alternative Parts Inc...,Miller Place Robotics,New York,514
4,Cedar Falls,USA,frc525,Cedar Falls Community Schools/John Deere/PTC/R...,Swartdogs,Iowa,525

In [13]:
result = api.get_teams(sn, 1, year=2016, response="keys")

In [14]:
result.head()

        0
0  frc501
1  frc503
2  frc509
3  frc514
4  frc525

In [15]:
result = api.get_teams(sn, 1, response="keys")

In [16]:
api.send_request(sn, ["districts", 2017])

  abbreviation       display_name      key  year
0          chs         Chesapeake  2017chs  2017
1          fim           Michigan  2017fim  2017
2           in            Indiana   2017in  2017
3          isr             Israel  2017isr  2017
4          mar       Mid-Atlantic  2017mar  2017
5           nc     North Carolina   2017nc  2017
6           ne        New England   2017ne  2017
7          ont            Ontario  2017ont  2017
8          pch          Peachtree  2017pch  2017
9          pnw  Pacific Northwest  2017pnw  2017

In [17]:
teams = api.get_teams(sn, district="2017pnw")

In [18]:
teams.head()

,address,city,country,gmaps_place_id,gmaps_url,home_championship.2017,home_championship.2018,key,lat,lng,location_name,motto,name,nickname,postal_code,rookie_year,state_prov,team_number,website
0,None,Seattle,USA,None,None,Houston,Houston,frc1258,None,None,None,None,The Boeing Company & Seattle Lutheran High School,SeaBot,98116,2004,Washington,1258,http://www.seattlelutheran.org/events/robotics...
1,None,Sammamish,USA,None,None,Houston,Houston,frc1294,None,None,None,"You get out of it, what you put into it. Stop ...",Lake Washington Schools Foundation/Microsoft/d...,Top Gun,98074,2004,Washington,1294,http://www.team1294.org
2,None,Issaquah,USA,None,None,Houston,Houston,frc1318,None,None,None,Robots Don't Quit!,The Boeing Company/State of Washington OSPI/Tr...,Issaquah Robotics Society,98027,2004,Washington,1318,http://www.team1318.org
3,None,Lebanon,USA,None,None,Houston,Houston,frc1359,None,None,None,Prepare to be boarded,Linn Benton Community College/Oregon Dept of E...,Scalawags,97355,2004,Oregon,1359,http://www.scalawags.org
4,None,Wilsonville,USA,None,None,Houston,Houston,frc1425,None,None,None,Building Robots...Building People,Xerox/Lam Research/City Of Wilsonville/Maxim I...,Error Code Xero,97070,2004,Oregon,1425,http://www.wilsonvillerobotics.com

In [19]:
teams = api.get_teams(sn, district="2017pnw", response="simple")

In [20]:
teams.head()

,city,country,key,name,nickname,state_prov,team_number
0,Seattle,USA,frc1258,The Boeing Company & Seattle Lutheran High School,SeaBot,Washington,1258
1,Sammamish,USA,frc1294,Lake Washington Schools Foundation/Microsoft/d...,Top Gun,Washington,1294
2,Issaquah,USA,frc1318,The Boeing Company/State of Washington OSPI/Tr...,Issaquah Robotics Society,Washington,1318
3,Lebanon,USA,frc1359,Linn Benton Community College/Oregon Dept of E...,Scalawags,Oregon,1359
4,Wilsonville,USA,frc1425,Xerox/Lam Research/City Of Wilsonville/Maxim I...,Error Code Xero,Oregon,1425

In [21]:
teams = api.get_teams(sn, district="2017pnw", response="keys")

In [22]:
teams.head()

         0
0  frc1258
1  frc1294
2  frc1318
3  frc1359
4  frc1425

In [23]:
api.send_request(sn, ["team", "frc1318", "events", "simple"]).head()

,city,country,district,end_date,event_code,event_type,key,name,start_date,state_prov,year
0,Portland,USA,None,2004-03-06,or,0,2004or,Pacific Northwest Regional,2004-03-04,OR,2004
1,Portland,USA,None,2005-03-12,or,0,2005or,Pacific Northwest Regional,2005-03-10,OR,2005
2,Davis,USA,None,2006-03-25,sac,0,2006sac,Davis Sacramento Regional,2006-03-23,CA,2006
3,Portland,USA,None,2006-03-04,wa,0,2006wa,Pacific Northwest Regional,2006-03-02,OR,2006
4,Portland,USA,None,2007-03-03,or,0,2007or,Pacific Northwest Regional,2007-03-01,OR,2007

In [24]:
teams = api.get_teams(sn, event="2017tur")

In [25]:
teams.head()

,address,city,country,gmaps_place_id,gmaps_url,home_championship.2017,home_championship.2018,key,lat,lng,location_name,motto,name,nickname,postal_code,rookie_year,state_prov,team_number,website
0,None,Fort Lauderdale,USA,None,None,Houston,Houston,frc108,None,None,None,"""Teamwork through Technology""",Motorola Solutions Foundation/Florida Power & ...,SigmaC@T Robotic Team,33311,1995,Florida,108,http://www.sigmacats.org
1,None,Phoenix,USA,None,None,Houston,Houston,frc1165,None,None,None,"If it was easy, you didn't do it right.",Bechtel & Paradise Valley High School,Team Paradise,85032,2003,Arizona,1165,http://teamparadise1165.com
2,None,Myrtle Beach,USA,None,None,Houston,Houston,frc1287,None,None,None,"Best work, First time, On time",Horry County Schools/Grand Strand Technology C...,Aluminum Assault,29579,2004,South Carolina,1287,http://www.FRCTeam1287.com
3,None,Rockwall,USA,None,None,Houston,Houston,frc1296,None,None,None,It's a cat(apult).,Rockwall Makerspace/Innovation First Internati...,Full Metal Jackets,75087,2004,Texas,1296,http://www.rockwallrobotics.com
4,None,Issaquah,USA,None,None,Houston,Houston,frc1318,None,None,None,Robots Don't Quit!,The Boeing Company/State of Washington OSPI/Tr...,Issaquah Robotics Society,98027,2004,Washington,1318,http://www.team1318.org

In [26]:
teams = api.get_teams(sn, event="2017tur", response="simple")

In [27]:
teams.head()

,city,country,key,name,nickname,state_prov,team_number
0,Fort Lauderdale,USA,frc108,Motorola Solutions Foundation/Florida Power & ...,SigmaC@T Robotic Team,Florida,108
1,Phoenix,USA,frc1165,Bechtel & Paradise Valley High School,Team Paradise,Arizona,1165
2,Myrtle Beach,USA,frc1287,Horry County Schools/Grand Strand Technology C...,Aluminum Assault,South Carolina,1287
3,Rockwall,USA,frc1296,Rockwall Makerspace/Innovation First Internati...,Full Metal Jackets,Texas,1296
4,Issaquah,USA,frc1318,The Boeing Company/State of Washington OSPI/Tr...,Issaquah Robotics Society,Washington,1318

In [28]:
teams = api.get_teams(sn, event="2017tur", response="keys")

In [29]:
teams.head()

         0
0   frc108
1  frc1165
2  frc1287
3  frc1296
4  frc1318

### get_team()

In [5]:
team = api.get_team(sn, "frc1318")

In [6]:
team

,address,city,country,gmaps_place_id,gmaps_url,home_championship.2017,home_championship.2018,key,lat,lng,location_name,motto,name,nickname,postal_code,rookie_year,state_prov,team_number,website
0,None,Issaquah,USA,None,None,Houston,Houston,frc1318,None,None,None,Robots Don't Quit!,The Boeing Company/State of Washington OSPI/Tr...,Issaquah Robotics Society,98027,2004,Washington,1318,http://www.team1318.org

In [7]:
team.shape

(1, 19)

In [32]:
team = api.get_team(sn, "frc1318", response="simple")

In [33]:
team

,city,country,key,name,nickname,state_prov,team_number
0,Issaquah,USA,frc1318,The Boeing Company/State of Washington OSPI/Tr...,Issaquah Robotics Society,Washington,1318

In [3]:
team = api.get_team(sn, "frc1318", response="years_participated")

In [4]:
team

    year
0   2004
1   2005
2   2006
3   2007
4   2008
5   2009
6   2010
7   2011
8   2012
9   2013
10  2014
11  2015
12  2016
13  2017
14  2018

In [5]:
team.shape

(15, 1)

In [36]:
team = api.get_team(sn, "frc1318", response="robots")

In [37]:
team

            key robot_name team_key  year
0  frc1318_2015  Toothless  frc1318  2015
1  frc1318_2016      Gimli  frc1318  2016
2  frc1318_2017   Cerberus  frc1318  2017
3  frc1318_2018   Cerberus  frc1318  2018

### get_event_team_status()

In [3]:
team = api.get_event_team_status(sn, "2017tur", "frc1318")

In [5]:
team.head()

alliance_backup                                       None
alliance_name                                   Alliance 3
alliance_number                                          3
alliance_pick                                            0
alliance_status_str    <b>Captain</b> of <b>Alliance 3</b>
dtype: object

### get_media()

In [4]:
media = api.get_media(sn, "frc1318", "2017")

In [7]:
media

,details.author_id,details.author_name,details.author_url,details.height,details.html,details.media_id,details.provider_name,details.provider_url,details.thumbnail_height,details.thumbnail_url,details.thumbnail_width,details.title,details.type,details.version,details.width,foreign_key,preferred,type
0,nan,NaN,NaN,nan,NaN,NaN,NaN,NaN,nan,NaN,nan,NaN,NaN,NaN,nan,3FRPrZ1,True,imgur
1,1116937831.000000,1stroboticsrocks,https://www.instagram.com/1stroboticsrocks,nan,"<blockquote class=""instagram-media"" data-instg...",1512600524829256257_1116937831,Instagram,https://www.instagram.com,640.000000,https://scontent-ort2-1.cdninstagram.com/t51.2...,640.000000,FRC 1318 @ 2017 FIRST Robotics World Champions...,rich,1.0,658.000000,BT91inJhGpB,True,instagram-image

### get_social_media()

In [4]:
media2 = api.get_social_media(sn, "frc1318")

In [5]:
media2

  foreign_key  preferred              type
0     frc1318      False  facebook-profile
1     frc1318      False   twitter-profile