# Imports

In [1]:
import json
import re
import datetime
from collections import OrderedDict

import pandas as pd
import pandas.io.json as pj
from IPython.core.debugger import set_trace

import tbap.api as api
import tbap.server as server

import auth

In [2]:
username = auth.username
key = auth.key
sn = api.Session(username, key)
snj = api.Session(username, key, data_format="json")

### get_districts()

In [4]:
districts = api.get_districts(sn, year=2019)

In [5]:
districts

        abbreviation          display_name  year
key
2019chs          chs      FIRST Chesapeake  2019
2019fim          fim     FIRST In Michigan  2019
2019fma          fma    FIRST Mid-Atlantic  2019
2019fnc          fnc  FIRST North Carolina  2019
2019in            in         Indiana FIRST  2019
2019isr          isr          FIRST Israel  2019
2019ne            ne           New England  2019
2019ont          ont               Ontario  2019
2019pch          pch             Peachtree  2019
2019pnw          pnw     Pacific Northwest  2019
2019tx            tx        FIRST In Texas  2019

In [6]:
districts.shape

(11, 3)

In [7]:
districts.index

Index(['2019chs', '2019fim', '2019fma', '2019fnc', '2019in', '2019isr',
       '2019ne', '2019ont', '2019pch', '2019pnw', '2019tx'],
      dtype='object', name='key')

In [8]:
districts = api.get_districts(sn, team="frc1318")

In [9]:
districts

        abbreviation       display_name  year
key
2014pnw          pnw  Pacific Northwest  2014
2015pnw          pnw  Pacific Northwest  2015
2016pnw          pnw  Pacific Northwest  2016
2017pnw          pnw  Pacific Northwest  2017
2018pnw          pnw  Pacific Northwest  2018
2019pnw          pnw  Pacific Northwest  2019

In [12]:
districts

        abbreviation       display_name  year
key
2014pnw          pnw  Pacific Northwest  2014
2015pnw          pnw  Pacific Northwest  2015
2016pnw          pnw  Pacific Northwest  2016
2017pnw          pnw  Pacific Northwest  2017
2018pnw          pnw  Pacific Northwest  2018
2019pnw          pnw  Pacific Northwest  2019

## get_district_rankings()

In [3]:
rankings = api.get_district_rankings(sn, "2019pnw")

In [4]:
rankings.head(5)

,rank,team_key,point_total,rookie_bonus,event_key,district_cmp,total,qual_points,alliance_points,elim_points,award_points
0,1,frc2910,359,0,2019wamou,False,73,22,16,30,5
1,1,frc2910,359,0,2019wayak,False,73,22,16,30,5
2,1,frc2910,359,0,2019pncmp,True,213,60,48,90,15
3,2,frc2046,350,0,2019waamv,False,53,22,16,10,5
4,2,frc2046,350,0,2019waspo,False,78,22,16,30,10

In [5]:
rankings.shape

(367, 11)