## Setup

In [1]:
import json
import re
import datetime
from collections import OrderedDict

import pandas as pd
import pandas.io.json as pj
from IPython.core.debugger import set_trace

import tbap.api as api
import tbap.server as server

In [2]:
key = "6Sx6a2gOyNWwNNTAd9UYBOpWp7MxaNrZgO4CqConwJwwDooKQV3DbZXvnk8TBL7A"
username = "stacy.k.irwin@gmail.com"
sn = api.Session(username, key)
snj = api.Session(username, key, data_format="json")

# Display floating point numbers in fixed format within dataframes.
pd.options.display.float_format = '{:f}'.format

### get_matches()

In [9]:
matches = api.get_matches(sn, "2017tur")

In [4]:
matches.tail()

,key,comp_level,set_number,match_number,predicted_time,team_key,surrogate,alliance,winning_alliance,score,...,teleopFuelHigh,teleopFuelLow,teleopFuelPoints,teleopPoints,teleopRotorPoints,teleopTakeoffPoints,totalPoints,touchpadFar,touchpadMiddle,touchpadNear
765,2017tur_sf2m3,sf,2,3,2017-04-22 10:02:02,frc1318,False,blue,blue,504,...,92,0,30,360,80,150,504,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
766,2017tur_sf2m3,sf,2,3,2017-04-22 10:02:02,frc1595,False,blue,blue,504,...,92,0,30,360,80,150,504,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
767,2017tur_sf2m3,sf,2,3,2017-04-22 10:02:02,frc2221,False,red,blue,262,...,15,0,5,135,80,50,262,None,ReadyForTakeoff,None
768,2017tur_sf2m3,sf,2,3,2017-04-22 10:02:02,frc16,False,red,blue,262,...,15,0,5,135,80,50,262,None,ReadyForTakeoff,None
769,2017tur_sf2m3,sf,2,3,2017-04-22 10:02:02,frc3937,False,red,blue,262,...,15,0,5,135,80,50,262,None,ReadyForTakeoff,None

In [5]:
matches.shape

(770, 49)

In [10]:
matches = api.get_matches(sn, "2017tur", response="simple")

In [11]:
matches.head()

,key,comp_level,set_number,match_number,predicted_time,team_key,surrogate,alliance,winning_alliance,score,time,actual_time,event_key
0,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc2046,False,blue,blue,503,2017-04-22 10:00:00,2017-04-22 10:18:21,2017tur
1,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc1318,False,blue,blue,503,2017-04-22 10:00:00,2017-04-22 10:18:21,2017tur
2,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc1595,False,blue,blue,503,2017-04-22 10:00:00,2017-04-22 10:18:21,2017tur
3,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc1296,False,red,blue,271,2017-04-22 10:00:00,2017-04-22 10:18:21,2017tur
4,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc2473,False,red,blue,271,2017-04-22 10:00:00,2017-04-22 10:18:21,2017tur

In [12]:
matches.shape

(770, 13)

In [3]:
matches = api.get_matches(sn, "2017tur", response="keys")

In [22]:
matches.head()

             key
0   2017tur_f1m1
1   2017tur_f1m2
2  2017tur_qf1m1
3  2017tur_qf1m2
4  2017tur_qf2m1

In [10]:
matches = api.get_matches(sn, "2017tur", "frc1318")

In [11]:
matches.head()

,key,comp_level,set_number,match_number,predicted_time,team_key,surrogate,alliance,winning_alliance,score,...,teleopFuelHigh,teleopFuelLow,teleopFuelPoints,teleopPoints,teleopRotorPoints,teleopTakeoffPoints,totalPoints,touchpadFar,touchpadMiddle,touchpadNear
0,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc2046,False,blue,blue,503,...,63,0,21,391,120,150,503,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
1,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc1318,False,blue,blue,503,...,63,0,21,391,120,150,503,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
2,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc1595,False,blue,blue,503,...,63,0,21,391,120,150,503,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
3,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc1296,False,red,blue,271,...,17,0,5,185,80,100,271,ReadyForTakeoff,ReadyForTakeoff,None
4,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc2473,False,red,blue,271,...,17,0,5,185,80,100,271,ReadyForTakeoff,ReadyForTakeoff,None

In [23]:
matches = api.get_matches(sn, "2017tur", "frc1318", response="simple")

In [27]:
matches[50:55]

,key,comp_level,set_number,match_number,predicted_time,team_key,surrogate,alliance,winning_alliance,score,time,actual_time,event_key
50,2017tur_qm43,qm,1,43,2017-04-20 14:24:01,frc4135,False,blue,blue,319,2017-04-20 14:08:00,2017-04-20 14:24:27,2017tur
51,2017tur_qm43,qm,1,43,2017-04-20 14:24:01,frc1318,False,red,blue,277,2017-04-20 14:08:00,2017-04-20 14:24:27,2017tur
52,2017tur_qm43,qm,1,43,2017-04-20 14:24:01,frc1523,False,red,blue,277,2017-04-20 14:08:00,2017-04-20 14:24:27,2017tur
53,2017tur_qm43,qm,1,43,2017-04-20 14:24:01,frc4206,False,red,blue,277,2017-04-20 14:08:00,2017-04-20 14:24:27,2017tur
54,2017tur_qm52,qm,1,52,2017-04-21 06:22:19,frc1318,False,blue,blue,253,2017-04-21 06:24:00,2017-04-21 06:22:40,2017tur

In [25]:
matches.shape

(102, 13)

In [14]:
matches = api.get_matches(sn, "2017tur", "frc1318", response="keys")

In [15]:
matches.head()

               0
0   2017tur_f1m1
1   2017tur_f1m2
2  2017tur_qf4m1
3  2017tur_qf4m2
4  2017tur_qm100

In [3]:
matches = api.get_matches(sn, team="frc1318", year=2017)

In [4]:
matches

,key,comp_level,set_number,match_number,predicted_time,team_key,surrogate,alliance,winning_alliance,score,...,teleopFuelHigh,teleopFuelLow,teleopFuelPoints,teleopPoints,teleopRotorPoints,teleopTakeoffPoints,totalPoints,touchpadFar,touchpadMiddle,touchpadNear
0,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc2046,False,blue,red,374,...,3,0,1,271,120,50,374,None,ReadyForTakeoff,None
1,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc1318,False,blue,red,374,...,3,0,1,271,120,50,374,None,ReadyForTakeoff,None
2,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc1595,False,blue,red,374,...,3,0,1,271,120,50,374,None,ReadyForTakeoff,None
3,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc987,False,red,red,493,...,31,0,10,440,160,150,493,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
4,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc2122,False,red,red,493,...,31,0,10,440,160,150,493,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
5,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc4910,False,red,red,493,...,31,0,10,440,160,150,493,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
6,2017cmptx_sf1m12,sf,1,12,2017-04-22 17:53:01,frc2046,False,blue,red,286,...,30,0,10,150,40,100,286,ReadyForTakeoff,ReadyForTakeoff,None
7,2017cmptx_sf1m12,sf,1,12,2017-04-22 17:53:01,frc1318,False,blue,red,286,...,30,0,10,150,40,100,286,ReadyForTakeoff,ReadyForTakeoff,None
8,2017cmptx_sf1m12,sf,1,12,2017-04-22 17:53:01,frc2907,False,blue,red,286,...,30,0,10,150,40,100,286,ReadyForTakeoff,ReadyForTakeoff,None
9,2017cmptx_sf1m12,sf,1,12,2017-04-22 17:53:01,frc1011,False,red,red,462,...,51,0,17,387,120,150,462,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
10,2017cmptx_sf1m12,sf,1,12,2017-04-22 17:53:01,frc5499,False,red,red,462,...,51,0,17,387,120,150,462,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
11,2017cmptx_sf1m12,sf,1,12,2017-04-22 17:53:01,frc973,False,red,red,462,...,51,0,17,387,120,150,462,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
12,2017cmptx_sf1m14,sf,1,14,2017-04-22 18:13:00,frc2046,False,blue,red,401,...,4,0,1,321,120,100,401,ReadyForTakeoff,None,ReadyForTakeoff
13,2017cmptx_sf1m14,sf,1,14,2017-04-22 18:13:00,frc1318,False,blue,red,401,...,4,0,1,321,120,100,401,ReadyForTakeoff,None,ReadyForTakeoff
14,2017cmptx_sf1m14,sf,1,14,2017-04-22 18:13:00,frc2907,False,blue,red,401,...,4,0,1,321,120,100,401,ReadyForTakeoff,None,ReadyForTakeoff
15,2017cmptx_sf1m14,sf,1,14,2017-04-22 18:13:00,frc604,False,red,red,465,...,0,0,0,370,120,150,465,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
16,2017cmptx_sf1m14,sf,1,14,2017-04-22 18:13:00,frc2903,False,red,red,465,...,0,0,0,370,120,150,465,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
17,2017cmptx_sf1m14,sf,1,14,2017-04-22 18:13:00,frc2848,False,red,red,465,...,0,0,0,370,120,150,465,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
18,2017cmptx_sf1m5,sf,1,5,2017-04-22 16:16:00,frc118,False,blue,blue,531,...,83,0,27,417,120,150,531,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
19,2017cmptx_sf1m5,sf,1,5,2017-04-22 16:16:00,frc1678,False,blue,blue,531,...,83,0,27,417,120,150,531,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
20,2017cmptx_sf1m5,sf,1,5,2017-04-22 16:16:00,frc4188,False,blue,blue,531,...,83,0,27,417,120,150,531,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
21,2017cmptx_sf1m5,sf,1,5,2017-04-22 16:16:00,frc1595,False,red,blue,320,...,37,0,12,242,80,150,320,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
22,2017cmptx_sf1m5,sf,1,5,2017-04-22 16:16:00,frc1318,False,red,blue,320,...,37,0,12,242,80,150,320,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
23,2017cmptx_sf1m5,sf,1,5,2017-04-22 16:16:00,frc2046,False,red,blue,320,...,37,0,12,242,80,150,320,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
24,2017cmptx_sf1m9,sf,1,9,2017-04-22 17:16:48,frc2415,False,blue,blue,445,...,0,0,0,370,120,150,445,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
25,2017cmptx_sf1m9,sf,1,9,2017-04-22 17:16:48,frc5654,False,blue,blue,445,...,0,0,0,370,120,150,445,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
26,2017cmptx_sf1m9,sf,1,9,2017-04-22 17:16:48,frc2630,False,blue,blue,445,...,0,0,0,370,120,150,445,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
27,2017cmptx_sf1m9,sf,1,9,2017-04-22 17:16:48,frc1595,False,red,blue,356,...,3,0,1,191,40,150,356,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
28,2017cmptx_sf1m9,sf,1,9,2017-04-22 17:16:48,frc1318,False,red,blue,356,...,3,0,1,191,40,150,356,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
29,2017cmptx_sf1m9,sf,1,9,2017-04-22 17:16:48,frc2046,False,red,blue,356,...,3,0,1,191,40,150,356,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2017wasno_qm52,qm,1,52,2017-03-25 18:43:14,frc1983,False,blue,red,235,...,0,0,0,220,120,100,235,ReadyForTakeoff,None,ReadyForTakeoff
607,2017wasno_qm52,qm,1,52,2017-03-25 18:43:14,frc2930,False,blue,red,235,...,0,0,0,220,120,100,235,ReadyForTakeoff,None,ReadyForTakeoff
608,2017wasno_qm52,qm,1,52,2017-03-25 18:43:14,frc4512,False,blue,red,235,...,0,0,0,220,120,100,235,ReadyForTakeoff,None,ReadyForTakeoff
609,2017wasno_qm52,qm,1,52,2017-03-25 18:43:14,frc4469,False,red,red,348,...,0,0,0,270,120,150,348,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
610,2017wasno_qm52,qm,1,52,2017-03-25 18:43:14,frc5803,False,red,red,348,...,0,0,0,270,120,150,348,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
611,2017wasno_qm52,qm,1,52,2017-03-25 18:43:14,frc1318,False,red,red,348,...,0,0,0,270,120,150,348,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
612,2017wasno_qm56,qm,1,56,2017-03-25 19:13:11,frc5827,False,blue,red,165,...,0,0,0,130,80,50,165,ReadyForTakeoff,None,None
613,2017wasno_qm56,qm,1,56,2017-03-25 19:13:11,frc1318,False,blue,red,165,...,0,0,0,130,80,50,165,ReadyForTakeoff,None,None
614,2017wasno_qm56,qm,1,56,2017-03-25 19:13:11,frc6503,False,blue,red,165,...,0,0,0,130,80,50,165,ReadyForTakeoff,None,None
615,2017wasno_qm56,qm,1,56,2017-03-25 19:13:11,frc3663,False,red,red,305,...,0,0,0,270,120,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
616,2017wasno_qm56,qm,1,56,2017-03-25 19:13:11,frc1983,False,red,red,305,...,0,0,0,270,120,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
617,2017wasno_qm56,qm,1,56,2017-03-25 19:13:11,frc2412,False,red,red,305,...,0,0,0,270,120,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
618,2017wasno_qm66,qm,1,66,2017-03-26 09:36:12,frc2910,False,blue,red,295,...,12,0,4,274,120,150,295,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
619,2017wasno_qm66,qm,1,66,2017-03-26 09:36:12,frc4682,False,blue,red,295,...,12,0,4,274,120,150,295,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
620,2017wasno_qm66,qm,1,66,2017-03-26 09:36:12,frc1899,False,blue,red,295,...,12,0,4,274,120,150,295,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
621,2017wasno_qm66,qm,1,66,2017-03-26 09:36:12,frc4180,False,red,red,308,...,4,0,1,231,80,150,308,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
622,2017wasno_qm66,qm,1,66,2017-03-26 09:36:12,frc4911,False,red,red,308,...,4,0,1,231,80,150,308,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
623,2017wasno_qm66,qm,1,66,2017-03-26 09:36:12,frc1318,False,red,red,308,...,4,0,1,231,80,150,308,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
624,2017wasno_qm73,qm,1,73,2017-03-26 10:42:00,frc4681,False,blue,red,240,...,0,0,0,140,40,100,240,ReadyForTakeoff,None,ReadyForTakeoff
625,2017wasno_qm73,qm,1,73,2017-03-26 10:42:00,frc949,False,blue,red,240,...,0,0,0,140,40,100,240,ReadyForTakeoff,None,ReadyForTakeoff
626,2017wasno_qm73,qm,1,73,2017-03-26 10:42:00,frc1318,False,blue,red,240,...,0,0,0,140,40,100,240,ReadyForTakeoff,None,ReadyForTakeoff
627,2017wasno_qm73,qm,1,73,2017-03-26 10:42:00,frc4915,False,red,red,271,...,30,0,10,190,80,100,271,None,ReadyForTakeoff,ReadyForTakeoff
628,2017wasno_qm73,qm,1,73,2017-03-26 10:42:00,frc3218,False,red,red,271,...,30,0,10,190,80,100,271,None,ReadyForTakeoff,ReadyForTakeoff
629,2017wasno_qm73,qm,1,73,2017-03-26 10:42:00,frc4309,False,red,red,271,...,30,0,10,190,80,100,271,None,ReadyForTakeoff,ReadyForTakeoff
630,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc1318,False,blue,blue,305,...,0,0,0,230,80,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
631,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc4077,False,blue,blue,305,...,0,0,0,230,80,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
632,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc2976,False,blue,blue,305,...,0,0,0,230,80,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
633,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc3070,False,red,blue,259,...,14,0,4,184,80,100,259,None,ReadyForTakeoff,ReadyForTakeoff
634,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc4911,False,red,blue,259,...,14,0,4,184,80,100,259,None,ReadyForTakeoff,ReadyForTakeoff
635,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc949,False,red,blue,259,...,14,0,4,184,80,100,259,None,ReadyForTakeoff,ReadyForTakeoff

In [29]:
matches.head()

,key,comp_level,set_number,match_number,predicted_time,team_key,surrogate,alliance,winning_alliance,score,time,actual_time,event_key
0,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc2046,False,blue,blue,503,2017-04-22 10:00:00,2017-04-22 10:18:21,2017tur
1,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc1318,False,blue,blue,503,2017-04-22 10:00:00,2017-04-22 10:18:21,2017tur
2,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc1595,False,blue,blue,503,2017-04-22 10:00:00,2017-04-22 10:18:21,2017tur
3,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc1296,False,red,blue,271,2017-04-22 10:00:00,2017-04-22 10:18:21,2017tur
4,2017tur_f1m1,f,1,1,2017-04-22 10:19:01,frc2473,False,red,blue,271,2017-04-22 10:00:00,2017-04-22 10:18:21,2017tur

In [18]:
matches = api.get_matches(sn, team="frc1318", year=2017, response="simple")

In [19]:
matches.head()

,key,comp_level,set_number,match_number,predicted_time,team_key,surrogate,alliance,winning_alliance,score,time,actual_time,event_key
0,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc2046,False,blue,red,374,2017-04-22 14:00:00,2017-04-22 14:42:55,2017cmptx
1,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc1318,False,blue,red,374,2017-04-22 14:00:00,2017-04-22 14:42:55,2017cmptx
2,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc1595,False,blue,red,374,2017-04-22 14:00:00,2017-04-22 14:42:55,2017cmptx
3,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc987,False,red,red,493,2017-04-22 14:00:00,2017-04-22 14:42:55,2017cmptx
4,2017cmptx_sf1m1,sf,1,1,2017-04-22 14:46:01,frc2122,False,red,red,493,2017-04-22 14:00:00,2017-04-22 14:42:55,2017cmptx

In [20]:
matches = api.get_matches(sn, team="frc1318", year=2017, response="keys")

In [21]:
matches.head()

                  0
0   2017cmptx_sf1m1
1  2017cmptx_sf1m12
2  2017cmptx_sf1m14
3   2017cmptx_sf1m5
4   2017cmptx_sf1m9

In [29]:
matches = api.get_matches(sn, match="2017wasno_qm79")

In [31]:
matches

,key,comp_level,set_number,match_number,predicted_time,team_key,surrogate,alliance,winning_alliance,score,...,teleopFuelHigh,teleopFuelLow,teleopFuelPoints,teleopPoints,teleopRotorPoints,teleopTakeoffPoints,totalPoints,touchpadFar,touchpadMiddle,touchpadNear
0,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc1318,False,blue,blue,305,...,0,0,0,230,80,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
1,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc4077,False,blue,blue,305,...,0,0,0,230,80,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
2,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc2976,False,blue,blue,305,...,0,0,0,230,80,150,305,ReadyForTakeoff,ReadyForTakeoff,ReadyForTakeoff
3,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc3070,False,red,blue,259,...,14,0,4,184,80,100,259,None,ReadyForTakeoff,ReadyForTakeoff
4,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc4911,False,red,blue,259,...,14,0,4,184,80,100,259,None,ReadyForTakeoff,ReadyForTakeoff
5,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc949,False,red,blue,259,...,14,0,4,184,80,100,259,None,ReadyForTakeoff,ReadyForTakeoff

In [33]:
matches = api.get_matches(sn, match="2017wasno_qm79", response="simple")

In [34]:
matches

,key,comp_level,set_number,match_number,predicted_time,team_key,surrogate,alliance,winning_alliance,score,time,actual_time,event_key
0,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc1318,False,blue,blue,305,2017-03-26 11:26:00,2017-03-26 11:24:20,2017wasno
1,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc4077,False,blue,blue,305,2017-03-26 11:26:00,2017-03-26 11:24:20,2017wasno
2,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc2976,False,blue,blue,305,2017-03-26 11:26:00,2017-03-26 11:24:20,2017wasno
3,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc3070,False,red,blue,259,2017-03-26 11:26:00,2017-03-26 11:24:20,2017wasno
4,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc4911,False,red,blue,259,2017-03-26 11:26:00,2017-03-26 11:24:20,2017wasno
5,2017wasno_qm79,qm,1,79,2017-03-26 11:25:03,frc949,False,red,blue,259,2017-03-26 11:26:00,2017-03-26 11:24:20,2017wasno

In [4]:
matches = api.get_matches(sn, match="2017wasno_qm79", response="keys")

ArgumentError: Incorrect Arguments