# Imports

In [1]:
import json
import re
import datetime
from collections import OrderedDict

import pandas as pd
import pandas.io.json as pj
from IPython.core.debugger import set_trace

import tbap.api as api
import tbap.server as server

In [2]:
username = "stacy.k.irwin@gmail.com"
key = "6Sx6a2gOyNWwNNTAd9UYBOpWp7MxaNrZgO4CqConwJwwDooKQV3DbZXvnk8TBL7A"
sn = api.Session(username, key)
snj = api.Session(username, key, data_format="json")

### get_alliances()

In [3]:
alliances = api.get_alliances(sn, event="2017pncmp")

In [4]:
alliances

                   backup      status declines level playoff_average  \
name       team
Alliance 1 frc3238  False  eliminated       []     f            None
           frc3663  False  eliminated       []     f            None
           frc1318  False  eliminated       []     f            None
Alliance 2 frc2046  False         won       []     f            None
           frc2471  False         won       []     f            None
           frc1595  False         won       []     f            None
Alliance 3 frc2910    out  eliminated       []    qf            None
           frc4488  False  eliminated       []    qf            None
           frc3674  False  eliminated       []    qf            None
           frc4513     in  eliminated       []    qf            None
Alliance 4 frc997   False  eliminated       []    sf            None
           frc492   False  eliminated       []    sf            None
           frc4469  False  eliminated       []    sf            None
Alliance 5 frc5295  False  eliminated       []    qf            None
           frc2147  False  eliminated       []    qf            None
           frc1425  False  eliminated       []    qf            None
Alliance 6 frc1778  False  eliminated       []    sf            None
           frc4662  False  eliminated       []    sf            None
           frc5803  False  eliminated       []    sf            None
Alliance 7 frc948   False  eliminated       []    qf            None
           frc2928  False  eliminated       []    qf            None
           frc4911  False  eliminated       []    qf            None
Alliance 8 frc2907  False  eliminated       []    qf            None
           frc4061  False  eliminated       []    qf            None
           frc488   False  eliminated       []    qf            None

                    current_level_wins  current_level_losses  \
name       team
Alliance 1 frc3238                   0                     2
           frc3663                   0                     2
           frc1318                   0                     2
Alliance 2 frc2046                   2                     0
           frc2471                   2                     0
           frc1595                   2                     0
Alliance 3 frc2910                   1                     2
           frc4488                   1                     2
           frc3674                   1                     2
           frc4513                   1                     2
Alliance 4 frc997                    0                     2
           frc492                    0                     2
           frc4469                   0                     2
Alliance 5 frc5295                   0                     2
           frc2147                   0                     2
           frc1425                   0                     2
Alliance 6 frc1778                   1                     2
           frc4662                   1                     2
           frc5803                   1                     2
Alliance 7 frc948                    1                     2
           frc2928                   1                     2
           frc4911                   1                     2
Alliance 8 frc2907                   1                     2
           frc4061                   1                     2
           frc488                    1                     2

                    current_level_ties  overall_wins  overall_losses  \
name       team
Alliance 1 frc3238                   0             4               3
           frc3663                   0             4               3
           frc1318                   0             4               3
Alliance 2 frc2046                   0             6               2
           frc2471                   0             6               2
           frc1595                   0             6               2
Alliance 3 frc2910                   0             1               2
           frc4488                   0             1               2
           frc3674                   0             1               2
           frc4513                   0             1               2
Alliance 4 frc997                    0             2               2
           frc492                    0             2               2
           frc4469                   0             2               2
Alliance 5 frc5295                   0             0               2
           frc2147                   0             0               2
           frc1425                   0             0               2
Alliance 6 frc1778                   0             3               3
           frc4662                   0             3               3
           frc5803                   0             3               3
Alliance 7 frc948                    0             1               2
           frc2928                   0             1               2
           frc4911                   0             1               2
Alliance 8 frc2907                   0             1               2
           frc4061                   0             1               2
           frc488                    0             1               2

                    overall_ties
name       team
Alliance 1 frc3238             0
           frc3663             0
           frc1318             0
Alliance 2 frc2046             0
           frc2471             0
           frc1595             0
Alliance 3 frc2910             0
           frc4488             0
           frc3674             0
           frc4513             0
Alliance 4 frc997              0
           frc492              0
           frc4469             0
Alliance 5 frc5295             0
           frc2147             0
           frc1425             0
Alliance 6 frc1778             0
           frc4662             0
           frc5803             0
Alliance 7 frc948              0
           frc2928             0
           frc4911             0
Alliance 8 frc2907             0
           frc4061             0
           frc488              0

In [5]:
alliances.shape

(25, 11)

In [5]:
event.head()

                   backup      status declines level playoff_average  \
name       team
Alliance 1 frc3238  False  eliminated       []     f            None
           frc3663  False  eliminated       []     f            None
           frc1318  False  eliminated       []     f            None
Alliance 2 frc2046  False         won       []     f            None
           frc2471  False         won       []     f            None

                    current_level_wins  current_level_losses  \
name       team
Alliance 1 frc3238                   0                     2
           frc3663                   0                     2
           frc1318                   0                     2
Alliance 2 frc2046                   2                     0
           frc2471                   2                     0

                    current_level_ties  overall_wins  overall_losses  \
name       team
Alliance 1 frc3238                   0             4               3
           frc3663                   0             4               3
           frc1318                   0             4               3
Alliance 2 frc2046                   0             6               2
           frc2471                   0             6               2

                    overall_ties
name       team
Alliance 1 frc3238             0
           frc3663             0
           frc1318             0
Alliance 2 frc2046             0
           frc2471             0

In [6]:
event = api.get_alliances(sn, event="2017pncmp")

In [7]:
event.head()

                   backup      status declines level playoff_average  \
name       team
Alliance 1 frc3238  False  eliminated       []     f            None
           frc3663  False  eliminated       []     f            None
           frc1318  False  eliminated       []     f            None
Alliance 2 frc2046  False         won       []     f            None
           frc2471  False         won       []     f            None

                    current_level_wins  current_level_losses  \
name       team
Alliance 1 frc3238                   0                     2
           frc3663                   0                     2
           frc1318                   0                     2
Alliance 2 frc2046                   2                     0
           frc2471                   2                     0

                    current_level_ties  overall_wins  overall_losses  \
name       team
Alliance 1 frc3238                   0             4               3
           frc3663                   0             4               3
           frc1318                   0             4               3
Alliance 2 frc2046                   0             6               2
           frc2471                   0             6               2

                    overall_ties
name       team
Alliance 1 frc3238             0
           frc3663             0
           frc1318             0
Alliance 2 frc2046             0
           frc2471             0

In [6]:
event = api.get_insights(sn, event="2017pncmp")

In [18]:
event.head()

                                      value_0 value_1 value_2
level   statistic
playoff average_foul_score           7.638889     NaN     NaN
        average_fuel_points          8.444444     NaN     NaN
        average_fuel_points_auto     4.555556     NaN     NaN
        average_fuel_points_teleop   3.888889     NaN     NaN
        average_high_goals          16.916667     NaN     NaN

In [8]:
event.shape

(64, 3)

In [3]:
oprs = api.get_oprs(sn, event="2017pncmp")

In [4]:
oprs.head()

             ccwms       dprs        oprs
team
frc1294 -24.335484  86.820430   62.484947
frc1318 -11.216645  77.342205   66.125559
frc1425  43.110205  66.818698  109.928903
frc1540  25.355900  68.649207   94.005107
frc1595  12.184601  88.020722  100.205323

In [23]:
oprs.shape

(64, 4)

In [3]:
pred = api.get_predictions(sn, event="2017pncmp")

In [5]:
pred["event_stats"]

                                   value
level   statistic
playoff brier_scores_gears      0.075659
        brier_scores_pressure   0.037968
        brier_scores_win_loss   0.242488
        err_mean               70.722756
        err_var               710.189664
        wl_accuracy            61.111111
        wl_accuracy_75         66.666667
qual    brier_scores_gears      0.230521
        brier_scores_pressure   0.033869
        brier_scores_win_loss   0.241143
        err_mean               38.497150
        err_var               963.429657
        wl_accuracy            64.062500
        wl_accuracy_75         71.794872

In [7]:
pred["event_stats"].shape

(14, 1)

In [11]:
pred["predictions"]

                                                        value
level   match          alliance statistic
playoff 2017pncmp_f1m1 red      gears                  11.365
                                gears_var             8.37458
                                pressure               2.7101
                                pressure_var          37.1418
                                prob_gears           0.413158
                                prob_pressure     4.71695e-10
                                score                 383.084
                                score_var                2973
                       blue     gears                 8.18733
                                gears_var             10.7154
                                pressure              27.5264
                                pressure_var          554.874
                                prob_gears           0.122064
                                prob_pressure        0.298217
                                score                 364.338
                                score_var             1726.33
                       NaN      prob                 0.607749
                                winning_alliance          red
        2017pncmp_f1m2 red      gears                 11.4127
                                gears_var             8.25988
                                pressure              2.94161
                                pressure_var           37.542
                                prob_gears           0.419042
                                prob_pressure     7.32255e-10
                                score                 384.323
                                score_var             2926.14
                       blue     gears                 8.50531
                                gears_var             11.0855
                                pressure               26.861
                                pressure_var          542.048
...                                                       ...
qual    2017pncmp_qm98 red      score                 340.204
                                score_var             858.689
                       blue     gears                 8.05362
                                gears_var             21.2108
                                pressure             0.711447
                                pressure_var           60.065
                                prob_gears           0.195756
                                prob_pressure      1.9955e-07
                                score                  262.41
                                score_var             586.087
                       NaN      prob                 0.979654
                                winning_alliance          red
        2017pncmp_qm99 red      gears                 8.19371
                                gears_var             13.6157
                                pressure            -0.980805
                                pressure_var          65.7399
                                prob_gears           0.151146
                                prob_pressure     2.15921e-07
                                score                 284.108
                                score_var             1058.19
                       blue     gears                  8.0337
                                gears_var             4.06986
                                pressure              13.6309
                                pressure_var          138.565
                                prob_gears          0.0246462
                                prob_pressure        0.012542
                                score                 289.418
                                score_var             1046.83
                       NaN      prob                 0.546068
                                winning_alliance         blue

[2628 rows x 1 columns]

In [8]:
pred["predictions"].shape

(2628, 1)

In [5]:
pred["team_rankings"].head()

         points  rank
team
frc3238    31.0   1.0
frc3663    25.0   2.0
frc2046    24.0   3.0
frc2910    24.0   4.0
frc4488    24.0   5.0

In [12]:
pred["team_rankings"].shape

(64, 2)

In [16]:
pred["team_stats"].loc["frc2907"]

                              value
statistic point level
gears     mean  playoff    2.862139
          var   playoff    6.392703
pressure  mean  playoff   -1.140641
          var   playoff    7.108047
score     mean  playoff  108.635760
          var   playoff  273.782163
gears     mean  qual       2.930528
          var   qual       6.118602
pressure  mean  qual      -1.133892
          var   qual       2.140644
score     mean  qual     111.985720
          var   qual     418.728105

In [15]:
pred["team_stats"].shape

(768, 1)

In [4]:
ranks = api.get_event_rankings(sn, event="2017pncmp")

In [7]:
ranks.query("team=='frc1318'")

,team,matches_played,Total Ranking Points,Ranking Score,Match Points,Auto,Rotor,Touchpad,Pressure,wins,losses,ties,dq,qual_average
rank,,,,,,,,,,,,,,
60,frc1318,12,9,0.750000,3119.000000,739.000000,1620.000000,1150.000000,129.000000,4,8,0,0,None

### get_district_points()

In [3]:
points = api.get_district_points(sn, event="2017pncmp")

In [4]:
points["points"].head()

         alliance_points  award_points  elim_points  qual_points  total
frc1294                0             0            0           24     24
frc1318                3             0           60           18     81
frc1425               15            15            0           42     72
frc1540                0            30            0           48     78
frc1595                6            15           90           36    147

In [6]:
points["points"].shape

(68, 5)

In [4]:
points["high_scores"]

         highest_qual_score  qual_wins  score_rank
team
frc1294                 320          0           1
frc1294                 320          0           2
frc1294                 300          0           3
frc1318                 351          0           1
frc1318                 330          0           2
frc1318                 305          0           3
frc1425                 372          0           1
frc1425                 355          0           2
frc1425                 325          0           3
frc1540                 370          0           1
frc1540                 345          0           2
frc1540                 324          0           3
frc1595                 377          0           1
frc1595                 372          0           2
frc1595                 355          0           3
frc1778                 372          0           1
frc1778                 345          0           2
frc1778                 345          0           3
frc2046                 379          0           1
frc2046                 351          0           2
frc2046                 350          0           3
frc2147                 371          0           1
frc2147                 366          0           2
frc2147                 348          0           3
frc2374                 400          0           1
frc2374                 372          0           2
frc2374                 327          0           3
frc2471                 380          0           1
frc2471                 356          0           2
frc2471                 352          0           3
...                     ...        ...         ...
frc5970                 349          0           1
frc5970                 325          0           2
frc5970                 320          0           3
frc5975                 345          0           1
frc5975                 306          0           2
frc5975                 295          0           3
frc6343                 372          0           1
frc6343                 351          0           2
frc6343                 350          0           3
frc6350                 310          0           1
frc6350                 309          0           2
frc6350                 306          0           3
frc6445                 347          0           1
frc6445                 345          0           2
frc6445                 340          0           3
frc753                  400          0           1
frc753                  349          0           2
frc753                  317          0           3
frc948                  380          0           1
frc948                  355          0           2
frc948                  350          0           3
frc955                  355          0           1
frc955                  347          0           2
frc955                  345          0           3
frc957                  345          0           1
frc957                  329          0           2
frc957                  310          0           3
frc997                  381          0           1
frc997                  380          0           2
frc997                  355          0           3

[192 rows x 3 columns]

In [13]:
points["high_scores"].loc["frc2046"].iat[0, 0]

379

In [7]:
points["high_scores"].shape

(192, 3)

In [ ]:
points