# Imports

In [3]:
import json
import re
import datetime
from collections import OrderedDict

import pandas as pd
import pandas.io.json as pj
from IPython.core.debugger import set_trace

import tbap.api as api
import tbap.server as server

In [4]:
username = "stacy.k.irwin@gmail.com"
key = "6Sx6a2gOyNWwNNTAd9UYBOpWp7MxaNrZgO4CqConwJwwDooKQV3DbZXvnk8TBL7A"
sn = api.Session(username, key)
snj = api.Session(username, key, data_format="json")

### get_districts()

In [3]:
districts = api.get_districts(sn, year=2017)

In [4]:
districts

  abbreviation       display_name      key  year
0          chs         Chesapeake  2017chs  2017
1          fim           Michigan  2017fim  2017
2           in            Indiana   2017in  2017
3          isr             Israel  2017isr  2017
4          mar       Mid-Atlantic  2017mar  2017
5           nc     North Carolina   2017nc  2017
6           ne        New England   2017ne  2017
7          ont            Ontario  2017ont  2017
8          pch          Peachtree  2017pch  2017
9          pnw  Pacific Northwest  2017pnw  2017

In [5]:
districts = api.get_districts(sn, team="frc1318")

In [6]:
districts

  abbreviation       display_name      key  year
0          pnw  Pacific Northwest  2014pnw  2014
1          pnw  Pacific Northwest  2015pnw  2015
2          pnw  Pacific Northwest  2016pnw  2016
3          pnw  Pacific Northwest  2017pnw  2017
4          pnw  Pacific Northwest  2018pnw  2018

In [7]:
lm = districts.attr["Last-Modified"]

In [8]:
districts = api.get_districts(sn, team="frc1318", mod_since=lm)

In [12]:
districts

{'Access-Control-Allow-Origin': '*',
 'CF-Cache-Status': 'HIT',
 'CF-RAY': '3c456cedede88ce1-PDX',
 'Cache-Control': 'public, max-age=61',
 'Connection': 'close',
 'Date': 'Mon, 27 Nov 2017 13:27:32 GMT',
 'ETag': 'W/"f13331c9f7795df8263a2a41af610658"',
 'If-Modified-Since': 'Sun, 12 Nov 2017 14:14:56 GMT',
 'Last-Modified': 'Sun, 12 Nov 2017 14:14:56 GMT',
 'Pragma': 'Public',
 'Server': 'cloudflare-nginx',
 'Set-Cookie': '__cfduid=d3e9e71767666e84eac519c094711e17d1511789252; expires=Tue, 27-Nov-18 13:27:32 GMT; path=/; domain=.thebluealliance.com; HttpOnly',
 'Vary': 'Accept-Encoding',
 'X-Cloud-Trace-Context': 'b5a81abe5fec8987a16b4ef79508970e',
 'X-TBA-Version': '3',
 'args': ['team', 'frc1318', 'districts'],
 'code': 304,
 'url': 'https://www.thebluealliance.com/api/v3/team/frc1318/districts'}

In [14]:
districts["code"]

304

In [15]:
lm

'Sun, 12 Nov 2017 14:14:56 GMT'

In [16]:
lm1 = "Sun, 12 Nov 2017 14:14:55 GMT"

In [17]:
districts = api.get_districts(sn, team="frc1318", mod_since=lm1)

In [18]:
districts

  abbreviation       display_name      key  year
0          pnw  Pacific Northwest  2014pnw  2014
1          pnw  Pacific Northwest  2015pnw  2015
2          pnw  Pacific Northwest  2016pnw  2016
3          pnw  Pacific Northwest  2017pnw  2017
4          pnw  Pacific Northwest  2018pnw  2018

## get_district_rankings()

In [5]:
rankings = api.get_district_rankings(sn, "2017pnw")

In [6]:
rankings.head(5)

,rank,team_key,point_total,rookie_bonus,event_key,district_cmp,total,qual_points,alliance_points,elim_points,award_points
0,1,frc3238,331,0,2017waspo,False,65,19,16,20,10
1,1,frc3238,331,0,2017wamou,False,77,21,16,30,10
2,1,frc3238,331,0,2017pncmp,True,189,66,48,60,15
3,2,frc2471,329,0,2017orwil,False,47,19,13,10,5
4,2,frc2471,329,0,2017orlak,False,75,17,13,30,15

In [7]:
rankings.shape

(376, 11)